In [1]:
# see https://github.com/mozilla/mozanalysis/issues/40
%set_env OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

env: OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import pandas_udf, col, count, udf, count_distinct
import pyspark.sql.functions as F
import pandas as pd
import pyspark.pandas as ps
import numpy as np
from datetime import datetime
from pyspark.sql.types import *

/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [3]:
spark = SparkSession \
        .builder \
        .appName('test-spark2') \
        .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/09 10:18:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/07/09 10:18:04 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [ ]:
!wc -l /Applications/spark-3.4.1-bin-hadoop3/work/sparkify_event_data.json

In [4]:
# df = spark.sql('''
#                 SELECT ts, userId, sessionId, page, method, status, level, location, userAgent, gender
#                 FROM json.`/Applications/spark-3.4.1-bin-hadoop3/work/sparkify_event_data.json`
#                 LIMIT 100000
#                ''').repartition(2, 'userId').persist()
df = spark.sql('''
                SELECT ts, userId, sessionId, page, method, status, level, location, userAgent, gender
                FROM json.`data/mini_sparkify_event_data.json`
               ''').repartition(2, 'userId').persist()

In [5]:
df.count()

286500

In [6]:
tmp = df.groupby('userId').agg({'ts': 'count'})
print(tmp.rdd.toDebugString().decode("utf-8"))

(2) MapPartitionsRDD[25] at javaToPython at NativeMethodAccessorImpl.java:0 []
 |  MapPartitionsRDD[24] at javaToPython at NativeMethodAccessorImpl.java:0 []
 |  SQLExecutionRDD[23] at javaToPython at NativeMethodAccessorImpl.java:0 []
 |  MapPartitionsRDD[22] at javaToPython at NativeMethodAccessorImpl.java:0 []
 |  MapPartitionsRDD[21] at javaToPython at NativeMethodAccessorImpl.java:0 []
 |  MapPartitionsRDD[20] at javaToPython at NativeMethodAccessorImpl.java:0 []
 |  MapPartitionsRDD[19] at javaToPython at NativeMethodAccessorImpl.java:0 []
 |  Exchange hashpartitioning(userId#25, 2), REPARTITION_BY_NUM, [plan_id=15]
+- *(1) Project [ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11]
   +- FileScan json [gender#11,level#15,location#16,method#17,page#18,sessionId#20L,status#22L,ts#23L,userAgent#24,userId#25] Batched: false, DataFilters: [], Format: JSON, Location: InMemoryFileIndex(1 paths)[file:/Users/zma/Documents/DSND_Term2-master/capstone/sparkify/data/min..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<gender:string,level:string,location:string,method:string,page:string,sessionId:bigint,stat...
 MapPartitionsRDD[10] at count at NativeMethodAccessorImpl.java:0 []
 |      CachedPartitions: 2; MemorySize: 6.8 MiB; DiskSize: 0.0 B
 |  MapPartitionsRDD[9] at count at NativeMethodAccessorImpl.java:0 []
 |  ShuffledRowRDD[8] at count at NativeMethodAccessorImpl.java:0 []
 +-(4) MapPartitionsRDD[7] at count at NativeMethodAccessorImpl.java:0 []
    |  MapPartitionsRDD[6] at count at NativeMethodAccessorImpl.java:0 []
    |  MapPartitionsRDD[5] at count at NativeMethodAccessorImpl.java:0 []
    |  FileScanRDD[4] at count at NativeMethodAccessorImpl.java:0 []

In [7]:
# convert to pandas-on-spark
psdf = df.pandas_api()
print(type(df), type(psdf))

<class 'pyspark.sql.dataframe.DataFrame'> <class 'pyspark.pandas.frame.DataFrame'>

In [148]:
@udf("long")
def add_one_1(x):
    return x + 1

def add_one_2(x):
    return x + 1

@pandas_udf("long")
def add_one_3(x: pd.Series) -> pd.Series:
    return x + 1

In [152]:
df.select(add_one_1('ts')).take(1)

[Row(add_one_1(ts)=1538353668001)]

In [153]:
df.select(add_one_2('ts')).take(1)

TypeError: can only concatenate str (not "int") to str

In [206]:
df.select(add_one_2(col('ts'))).take(1)

[Row((ts + 1)=1538353668001)]

In [155]:
df.select(add_one_3('ts')).take(1)

[Row(add_one_3(ts)=1538353668001)]

In [156]:
psdf['ts'].apply(add_one_1)

TypeError: Invalid argument, not a string or column: 1538353668000 of type <class 'int'>. For column literals, use 'lit', 'array', 'struct' or 'create_map' function.

In [157]:
psdf['ts'].apply(add_one_2)

0      1538353668001
1      1538353834001
2      1538354117001
3      1538354291001
4      1538354598001
5      1538355027001
6      1538355252001
7      1538355459001
8      1538355710001
9      1538355711001
10     1538355745001
11     1538355807001
12     1538355841001
13     1538355842001
14     1538356000001
15     1538356218001
16     1538356359001
17     1538356598001
18     1538356650001
19     1538356651001
20     1538356678001
21     1538356679001
22     1538356686001
23     1538356782001
24     1538356816001
25     1538356824001
26     1538356889001
27     1538356954001
28     1538357103001
29     1538357104001
30     1538357110001
31     1538357328001
32     1538357377001
33     1538357543001
34     1538357578001
35     1538357746001
36     1538357915001
37     1538357916001
38     1538357996001
39     1538358102001
40     1538358191001
41     1538358192001
42     1538358264001
43     1538358503001
44     1538359745001
45     1538359961001
46     1538360117001
47     1538360174001
48     1538360391001
49     1538360577001
50     1538360783001
51     1538361026001
52     1538361312001
53     1538361527001
54     1538361528001
55     1538361601001
56     1538361908001
57     1538362007001
58     1538362095001
59     1538362096001
60     1538363488001
61     1538363494001
62     1538363503001
63     1538364254001
64     1538364255001
65     1538364750001
66     1538370681001
67     1538372920001
68     1538373209001
69     1538373351001
70     1538373352001
71     1538373506001
72     1538373507001
73     1538373513001
74     1538375694001
75     1538375695001
76     1538376396001
77     1538376435001
78     1538376540001
79     1538377411001
80     1538377519001
81     1538377520001
82     1538377678001
83     1538377866001
84     1538378123001
85     1538378205001
86     1538378313001
87     1538378324001
88     1538378945001
89     1538379091001
90     1538379322001
91     1538379523001
92     1538379865001
93     1538379891001
94     1538379892001
95     1538380020001
96     1538380219001
97     1538380446001
98     1538380687001
99     1538380886001
100    1538381216001
101    1538381290001
102    1538381499001
103    1538381500001
104    1538382349001
105    1538382350001
106    1538384355001
107    1538384770001
108    1538385046001
109    1538385180001
110    1538385402001
111    1538385558001
112    1538386074001
113    1538386309001
114    1538386520001
115    1538386726001
116    1538386977001
117    1538387004001
118    1538387041001
119    1538387193001
120    1538387273001
121    1538387604001
122    1538387645001
123    1538387676001
124    1538387868001
125    1538387870001
126    1538388015001
127    1538388066001
128    1538388101001
129    1538388132001
130    1538388294001
131    1538388295001
132    1538388327001
133    1538388387001
134    1538388465001
135    1538388557001
136    1538388594001
137    1538388620001
138    1538388627001
139    1538388796001
140    1538388801001
141    1538388861001
142    1538388894001
143    1538388903001
144    1538389062001
145    1538389077001
146    1538389085001
147    1538389110001
148    1538389111001
149    1538389172001
150    1538389270001
151    1538389326001
152    1538389366001
153    1538389406001
154    1538389499001
155    1538389581001
156    1538389659001
157    1538389667001
158    1538389748001
159    1538389860001
160    1538389930001
161    1538389931001
162    1538389931001
163    1538389997001
164    1538389997001
165    1538390065001
166    1538390066001
167    1538390255001
168    1538390256001
169    1538390345001
170    1538390372001
171    1538390405001
172    1538390440001
173    1538390441001
174    1538390502001
175    1538390678001
176    1538390716001
177    1538390717001
178    1538390847001
179    1538390848001
180    1538390890001
181    1538390969001
182    1538390996001
183    1538391102001
184    1538391152001
185    1538391194001
186    1538391272001
187    1538391273001
188    1538391301001
189    1538391319001
190    1538391416001
191    1538391522001
192    1538391555001
193    1538391556001
194    1538391640001
195    1538391794001
196    1538391815001
197    1538391864001
198    1538391913001
199    1538391914001
200    1538392064001
201    1538392099001
202    1538392164001
203    1538392196001
204    1538392357001
205    1538392370001
206    1538392400001
207    1538392491001
208    1538392534001
209    1538392598001
210    1538392659001
211    1538392694001
212    1538392699001
213    1538392783001
214    1538392843001
215    1538392844001
216    1538392919001
217    1538392939001
218    1538392993001
219    1538393015001
220    1538393033001
221    1538393034001
222    1538393072001
223    1538393102001
224    1538393112001
225    1538393129001
226    1538393256001
227    1538393257001
228    1538393287001
229    1538393296001
230    1538393337001
231    1538393338001
232    1538393344001
233    1538393379001
234    1538393519001
235    1538393520001
236    1538393552001
237    1538393618001
238    1538393619001
239    1538393689001
240    1538393750001
241    1538393774001
242    1538393848001
243    1538393851001
244    1538393905001
245    1538393912001
246    1538393915001
247    1538393950001
248    1538393973001
249    1538394063001
250    1538394064001
251    1538394066001
252    1538394096001
253    1538394163001
254    1538394236001
255    1538394314001
256    1538394315001
257    1538394327001
258    1538394419001
259    1538394455001
260    1538394458001
261    1538394515001
262    1538394517001
263    1538394616001
264    1538394669001
265    1538394677001
266    1538394716001
267    1538394753001
268    1538394837001
269    1538394849001
270    1538394915001
271    1538394916001
272    1538394926001
273    1538394999001
274    1538395057001
275    1538395081001
276    1538395115001
277    1538395121001
278    1538395215001
279    1538395268001
280    1538395293001
281    1538395374001
282    1538395439001
283    1538395446001
284    1538395505001
285    1538395587001
286    1538395597001
287    1538395714001
288    1538395762001
289    1538395867001
290    1538395868001
291    1538395874001
292    1538395974001
293    1538395993001
294    1538396041001
295    1538396077001
296    1538396080001
297    1538396110001
298    1538396253001
299    1538396264001
300    1538396265001
301    1538396299001
302    1538396299001
303    1538396300001
304    1538396321001
305    1538396334001
306    1538396466001
307    1538396473001
308    1538396474001
309    1538396493001
310    1538396503001
311    1538396611001
312    1538396612001
313    1538396646001
314    1538396647001
315    1538396653001
316    1538396675001
317    1538396748001
318    1538396752001
319    1538396771001
320    1538396772001
321    1538396817001
322    1538396886001
323    1538396969001
324    1538396994001
325    1538397024001
326    1538397040001
327    1538397158001
328    1538397267001
329    1538397281001
330    1538397321001
331    1538397340001
332    1538397341001
333    1538397406001
334    1538397407001
335    1538397465001
336    1538397466001
337    1538397599001
338    1538397603001
339    1538397639001
340    1538397727001
341    1538397734001
342    1538397819001
343    1538397862001
344    1538397870001
345    1538398008001
346    1538398010001
347    1538398072001
348    1538398122001
349    1538398132001
350    1538398160001
351    1538398179001
352    1538398199001
353    1538398232001
354    1538398233001
355    1538398322001
356    1538398406001
357    1538398410001
358    1538398416001
359    1538398508001
360    1538398513001
361    1538398539001
362    1538398585001
363    1538398622001
364    1538398623001
365    1538398626001
366    1538398735001
367    1538398842001
368    1538398844001
369    1538398924001
370    1538398944001
371    1538398970001
372    1538398987001
373    1538399040001
374    1538399157001
375    1538399222001
376    1538399287001
377    1538399317001
378    1538399343001
379    1538399344001
380    1538399475001
381    1538399550001
382    1538399681001
383    1538399682001
384    1538399722001
385    1538399845001
386    1538400037001
387    1538400153001
388    1538400235001
389    1538400268001
390    1538400298001
391    1538400348001
392    1538400378001
393    1538400405001
394    1538400418001
395    1538400478001
396    1538400576001
397    1538400609001
398    1538400613001
399    1538400633001
400    1538400651001
401    1538400751001
402    1538400761001
403    1538400762001
404    1538400850001
405    1538400868001
406    1538400950001
407    1538401004001
408    1538401005001
409    1538401021001
410    1538401114001
411    1538401193001
412    1538401220001
413    1538401336001
414    1538401338001
415    1538401370001
416    1538401414001
417    1538401569001
418    1538401604001
419    1538401665001
420    1538401666001
421    1538401680001
422    1538401681001
423    1538401691001
424    1538401694001
425    1538401712001
426    1538401795001
427    1538401847001
428    1538401898001
429    1538401899001
430    1538402043001
431    1538402044001
432    1538402051001
433    1538402196001
434    1538402240001
435    1538402268001
436    1538402339001
437    1538402414001
438    1538402423001
439    1538402593001
440    1538402639001
441    1538402692001
442    1538402759001
443    1538402850001
444    1538402851001
445    1538402871001
446    1538402953001
447    1538402956001
448    1538402960001
449    1538403123001
450    1538403220001
451    1538403289001
452    1538403432001
453    1538403462001
454    1538403480001
455    1538403718001
456    1538403783001
457    1538403845001
458    1538403846001
459    1538403980001
460    1538403999001
461    1538404046001
462    1538404180001
463    1538404201001
464    1538404202001
465    1538404224001
466    1538404225001
467    1538404284001
468    1538404285001
469    1538404299001
470    1538404300001
471    1538404320001
472    1538404341001
473    1538404342001
474    1538404350001
475    1538404391001
476    1538404570001
477    1538404571001
478    1538404627001
479    1538404651001
480    1538404728001
481    1538404766001
482    1538404873001
483    1538404889001
484    1538404916001
485    1538404917001
486    1538404973001
487    1538405078001
488    1538405079001
489    1538405142001
490    1538405224001
491    1538405273001
492    1538405460001
493    1538405468001
494    1538405492001
495    1538405642001
496    1538405661001
497    1538405679001
498    1538405706001
499    1538405838001
500    1538405979001
501    1538405986001
502    1538406027001
503    1538406104001
504    1538406105001
505    1538406127001
506    1538406157001
507    1538406170001
508    1538406171001
509    1538406210001
510    1538406280001
511    1538406338001
512    1538406345001
513    1538406348001
514    1538406429001
515    1538406472001
516    1538406497001
517    1538406511001
518    1538406640001
519    1538406648001
520    1538406749001
521    1538406751001
522    1538406879001
523    1538406887001
524    1538406991001
525    1538407019001
526    1538407047001
527    1538407048001
528    1538407137001
529    1538407145001
530    1538407254001
531    1538407266001
532    1538407296001
533    1538407301001
534    1538407319001
535    1538407459001
536    1538407507001
537    1538407522001
538    1538407551001
539    1538407553001
540    1538407592001
541    1538407602001
542    1538407609001
543    1538407746001
544    1538407757001
545    1538407823001
546    1538407848001
547    1538407884001
548    1538407893001
549    1538407911001
550    1538407921001
551    1538407927001
552    1538408036001
553    1538408085001
554    1538408113001
555    1538408114001
556    1538408141001
557    1538408145001
558    1538408163001
559    1538408195001
560    1538408215001
561    1538408216001
562    1538408266001
563    1538408325001
564    1538408347001
565    1538408364001
566    1538408420001
567    1538408488001
568    1538408490001
569    1538408523001
570    1538408543001
571    1538408587001
572    1538408616001
573    1538408720001
574    1538408812001
575    1538408854001
576    1538408859001
577    1538408944001
578    1538408963001
579    1538408998001
580    1538409062001
581    1538409180001
582    1538409188001
583    1538409215001
584    1538409226001
585    1538409234001
586    1538409242001
587    1538409307001
588    1538409308001
589    1538409326001
590    1538409327001
591    1538409397001
592    1538409402001
593    1538409422001
594    1538409469001
595    1538409523001
596    1538409563001
597    1538409564001
598    1538409566001
599    1538409637001
600    1538409666001
601    1538409682001
602    1538409709001
603    1538409728001
604    1538409824001
605    1538409866001
606    1538409940001
607    1538409952001
608    1538409993001
609    1538410097001
610    1538410110001
611    1538410122001
612    1538410138001
613    1538410206001
614    1538410207001
615    1538410272001
616    1538410297001
617    1538410308001
618    1538410321001
619    1538410332001
620    1538410332001
621    1538410342001
622    1538410362001
623    1538410485001
624    1538410537001
625    1538410544001
626    1538410558001
627    1538410670001
628    1538410671001
629    1538410709001
630    1538410791001
631    1538410822001
632    1538410887001
633    1538411055001
634    1538411075001
635    1538411107001
636    1538411109001
637    1538411135001
638    1538411282001
639    1538411282001
640    1538411363001
641    1538411367001
642    1538411370001
643    1538411380001
644    1538411438001
645    1538411507001
646    1538411508001
647    1538411541001
648    1538411577001
649    1538411647001
650    1538411746001
651    1538411778001
652    1538411822001
653    1538411977001
654    1538412027001
655    1538412028001
656    1538412028001
657    1538412029001
658    1538412037001
659    1538412061001
660    1538412078001
661    1538412085001
662    1538412086001
663    1538412106001
664    1538412169001
665    1538412204001
666    1538412293001
667    1538412336001
668    1538412399001
669    1538412413001
670    1538412415001
671    1538412420001
672    1538412502001
673    1538412546001
674    1538412568001
675    1538412629001
676    1538412645001
677    1538412653001
678    1538412689001
679    1538412815001
680    1538412876001
681    1538412896001
682    1538412909001
683    1538412918001
684    1538412925001
685    1538412942001
686    1538413015001
687    1538413032001
688    1538413079001
689    1538413151001
690    1538413152001
691    1538413157001
692    1538413180001
693    1538413181001
694    1538413226001
695    1538413230001
696    1538413348001
697    1538413351001
698    1538413370001
699    1538413377001
700    1538413388001
701    1538413476001
702    1538413477001
703    1538413528001
704    1538413585001
705    1538413595001
706    1538413605001
707    1538413609001
708    1538413614001
709    1538413649001
710    1538413717001
711    1538413737001
712    1538413761001
713    1538413762001
714    1538413793001
715    1538413813001
716    1538413970001
717    1538413972001
718    1538413982001
719    1538414003001
720    1538414023001
721    1538414034001
722    1538414035001
723    1538414150001
724    1538414208001
725    1538414225001
726    1538414260001
727    1538414312001
728    1538414320001
729    1538414426001
730    1538414437001
731    1538414484001
732    1538414572001
733    1538414673001
734    1538414676001
735    1538414695001
736    1538414711001
737    1538414712001
738    1538414731001
739    1538414795001
740    1538414873001
741    1538414901001
742    1538414902001
743    1538414991001
744    1538415011001
745    1538415112001
746    1538415226001
747    1538415227001
748    1538415259001
749    1538415260001
750    1538415348001
751    1538415395001
752    1538415450001
753    1538415464001
754    1538415667001
755    1538415721001
756    1538415730001
757    1538415776001
758    1538415777001
759    1538415802001
760    1538415885001
761    1538415963001
762    1538415985001
763    1538416007001
764    1538416030001
765    1538416225001
766    1538416229001
767    1538416250001
768    1538416464001
769    1538416478001
770    1538416485001
771    1538416626001
772    1538416630001
773    1538416638001
774    1538416736001
775    1538416853001
776    1538416883001
777    1538416884001
778    1538416888001
779    1538417077001
780    1538417110001
781    1538417137001
782    1538417157001
783    1538417176001
784    1538417236001
785    1538417249001
786    1538417267001
787    1538417268001
788    1538417350001
789    1538417352001
790    1538417366001
791    1538417557001
792    1538417659001
793    1538417703001
794    1538417881001
795    1538417917001
796    1538417933001
797    1538418068001
798    1538418069001
799    1538418114001
800    1538418259001
801    1538418379001
802    1538418486001
803    1538418620001
804    1538418709001
805    1538418832001
806    1538418948001
807    1538418999001
808    1538419020001
809    1538419202001
810    1538419319001
811    1538419449001
812    1538419501001
813    1538419608001
814    1538419810001
815    1538419813001
816    1538419817001
817    1538419839001
818    1538419883001
819    1538420021001
820    1538420077001
821    1538420156001
822    1538420258001
823    1538420294001
824    1538420295001
825    1538420548001
826    1538420563001
827    1538420771001
828    1538420786001
829    1538421038001
830    1538421609001
831    1538421764001
832    1538421908001
833    1538422090001
834    1538422174001
835    1538422388001
836    1538422419001
837    1538422579001
838    1538422637001
839    1538422638001
840    1538422854001
841    1538422946001
842    1538423085001
843    1538423086001
844    1538423229001
845    1538423230001
846    1538423242001
847    1538423342001
848    1538423505001
849    1538423592001
850    1538423593001
851    1538423618001
852    1538423713001
853    1538423766001
854    1538424069001
855    1538424131001
856    1538424260001
857    1538424263001
858    1538424492001
859    1538424497001
860    1538424732001
861    1538424799001
862    1538424906001
863    1538424960001
864    1538425023001
865    1538425225001
866    1538425345001
867    1538425480001
868    1538425531001
869    1538425597001
870    1538425691001
871    1538425829001
872    1538425867001
873    1538425868001
874    1538425923001
875    1538426045001
876    1538426234001
877    1538426277001
878    1538426400001
879    1538426527001
880    1538426704001
881    1538426747001
882    1538426748001
883    1538426944001
884    1538427004001
885    1538427007001
886    1538427007001
887    1538427008001
888    1538427178001
889    1538427243001
890    1538427275001
891    1538427283001
892    1538427445001
893    1538427476001
894    1538427641001
895    1538427760001
896    1538427768001
897    1538427851001
898    1538428018001
899    1538428097001
900    1538428266001
901    1538428357001
902    1538428496001
903    1538428603001
904    1538428654001
905    1538428770001
906    1538428966001
907    1538429043001
908    1538429044001
909    1538429045001
910    1538429293001
911    1538429294001
912    1538429294001
913    1538429311001
914    1538429532001
915    1538429542001
916    1538429794001
917    1538429795001
918    1538429810001
919    1538430183001
920    1538430324001
921    1538430389001
922    1538430555001
923    1538430557001
924    1538430609001
925    1538430682001
926    1538430786001
927    1538430941001
928    1538431201001
929    1538431482001
930    1538431495001
931    1538431756001
932    1538432069001
933    1538432278001
934    1538432566001
935    1538432737001
936    1538432780001
937    1538432978001
938    1538433100001
939    1538433316001
940    1538433520001
941    1538433721001
942    1538433910001
943    1538434106001
944    1538434107001
945    1538434165001
946    1538434400001
947    1538434674001
948    1538434999001
949    1538435000001
950    1538436020001
951    1538436021001

In [158]:
psdf['ts'].apply(add_one_3)

TypeError: Type <class 'pandas.core.series.Series'> was not understood.

In [252]:
@udf('float')
def get_hour_1(x):
    return (np.max(x) - np.min(x))/3600/1000

def get_hour_2(x):
    return (F.max(x) - F.min(x))/3600/1000

@pandas_udf('float')
def get_hour_3(x: pd.Series) -> any:
    return (x.max() - x.min())/3600/1000

def get_hour_4(x) -> float:
    return (x.max() - x.min())/3600/1000

def get_hour_5(x) -> pd.DataFrame[str, [float]]:
    return (x.max() - x.min())/3600/1000

In [254]:
spark.udf.register('get_hour_1_', get_hour_1)
spark.udf.register('get_hour_2_', get_hour_2)
spark.udf.register('get_hour_3_', get_hour_3)
spark.udf.register('get_hour_4_', get_hour_4)
spark.udf.register('get_hour_5_', get_hour_5)

23/07/09 08:44:52 WARN SimpleFunctionRegistry: The function get_hour_1_ replaced a previously registered function.
23/07/09 08:44:52 WARN SimpleFunctionRegistry: The function get_hour_2_ replaced a previously registered function.
23/07/09 08:44:52 WARN SimpleFunctionRegistry: The function get_hour_3_ replaced a previously registered function.
23/07/09 08:44:52 WARN SimpleFunctionRegistry: The function get_hour_4_ replaced a previously registered function.

In [168]:
df.select(get_hour_1('ts')).collect()

23/07/08 22:30:37 ERROR Executor: Exception in task 1.0 in stage 884.0 (TID 572)
net.razorvine.pickle.PickleException: expected zero arguments for construction of ClassDict (for numpy.dtype). This happens when an unsupported/unregistered class is being unpickled that requires construction arguments. Fix it by registering a custom IObjectConstructor for this class.
	at net.razorvine.pickle.objects.ClassDictConstructor.construct(ClassDictConstructor.java:23)
	at net.razorvine.pickle.Unpickler.load_reduce(Unpickler.java:759)
	at net.razorvine.pickle.Unpickler.dispatch(Unpickler.java:199)
	at net.razorvine.pickle.Unpickler.load(Unpickler.java:109)
	at net.razorvine.pickle.Unpickler.loads(Unpickler.java:122)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec.$anonfun$evaluate$6(BatchEvalPythonExec.scala:95)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:486)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:492)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:760)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:888)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)
23/07/08 22:30:37 ERROR Executor: Exception in task 0.0 in stage 884.0 (TID 571)
net.razorvine.pickle.PickleException: expected zero arguments for construction of ClassDict (for numpy.dtype). This happens when an unsupported/unregistered class is being unpickled that requires construction arguments. Fix it by registering a custom IObjectConstructor for this class.
	at net.razorvine.pickle.objects.ClassDictConstructor.construct(ClassDictConstructor.java:23)
	at net.razorvine.pickle.Unpickler.load_reduce(Unpickler.java:759)
	at net.razorvine.pickle.Unpickler.dispatch(Unpickler.java:199)
	at net.razorvine.pickle.Unpickler.load(Unpickler.java:109)
	at net.razorvine.pickle.Unpickler.loads(Unpickler.java:122)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec.$anonfun$evaluate$6(BatchEvalPythonExec.scala:95)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:486)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:492)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:760)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:888)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)
23/07/08 22:30:37 WARN TaskSetManager: Lost task 1.0 in stage 884.0 (TID 572) (192.168.1.5 executor driver): net.razorvine.pickle.PickleException: expected zero arguments for construction of ClassDict (for numpy.dtype). This happens when an unsupported/unregistered class is being unpickled that requires construction arguments. Fix it by registering a custom IObjectConstructor for this class.
	at net.razorvine.pickle.objects.ClassDictConstructor.construct(ClassDictConstructor.java:23)
	at net.razorvine.pickle.Unpickler.load_reduce(Unpickler.java:759)
	at net.razorvine.pickle.Unpickler.dispatch(Unpickler.java:199)
	at net.razorvine.pickle.Unpickler.load(Unpickler.java:109)
	at net.razorvine.pickle.Unpickler.loads(Unpickler.java:122)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec.$anonfun$evaluate$6(BatchEvalPythonExec.scala:95)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:486)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:492)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:760)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:888)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)

23/07/08 22:30:37 ERROR TaskSetManager: Task 1 in stage 884.0 failed 1 times; aborting job

Py4JJavaError: An error occurred while calling o13958.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 1 in stage 884.0 failed 1 times, most recent failure: Lost task 1.0 in stage 884.0 (TID 572) (192.168.1.5 executor driver): net.razorvine.pickle.PickleException: expected zero arguments for construction of ClassDict (for numpy.dtype). This happens when an unsupported/unregistered class is being unpickled that requires construction arguments. Fix it by registering a custom IObjectConstructor for this class.
	at net.razorvine.pickle.objects.ClassDictConstructor.construct(ClassDictConstructor.java:23)
	at net.razorvine.pickle.Unpickler.load_reduce(Unpickler.java:759)
	at net.razorvine.pickle.Unpickler.dispatch(Unpickler.java:199)
	at net.razorvine.pickle.Unpickler.load(Unpickler.java:109)
	at net.razorvine.pickle.Unpickler.loads(Unpickler.java:122)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec.$anonfun$evaluate$6(BatchEvalPythonExec.scala:95)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:486)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:492)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:760)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:888)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2785)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2721)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2720)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2720)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1206)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1206)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1206)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2984)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2923)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2912)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:971)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2263)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2284)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2303)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2328)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1019)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:405)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1018)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:448)
	at org.apache.spark.sql.Dataset.$anonfun$collectToPython$1(Dataset.scala:3997)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4167)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:526)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:4165)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:118)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:195)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:103)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:827)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:65)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4165)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:3994)
	at sun.reflect.GeneratedMethodAccessor72.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:750)
Caused by: net.razorvine.pickle.PickleException: expected zero arguments for construction of ClassDict (for numpy.dtype). This happens when an unsupported/unregistered class is being unpickled that requires construction arguments. Fix it by registering a custom IObjectConstructor for this class.
	at net.razorvine.pickle.objects.ClassDictConstructor.construct(ClassDictConstructor.java:23)
	at net.razorvine.pickle.Unpickler.load_reduce(Unpickler.java:759)
	at net.razorvine.pickle.Unpickler.dispatch(Unpickler.java:199)
	at net.razorvine.pickle.Unpickler.load(Unpickler.java:109)
	at net.razorvine.pickle.Unpickler.loads(Unpickler.java:122)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec.$anonfun$evaluate$6(BatchEvalPythonExec.scala:95)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:486)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:492)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:760)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:888)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [173]:
df.select(get_hour_2('ts')).collect()

[Row((((max(ts) - min(ts)) / 3600) / 1000)=1513.1552777777777)]

In [174]:
df.select(get_hour_2(df.ts)).collect()

[Row((((max(ts) - min(ts)) / 3600) / 1000)=1513.1552777777777)]

In [175]:
df.select(get_hour_3('ts')).collect()

[Row(get_hour_3(ts)=1513.1552734375)]

In [244]:
df.select(get_hour_4('ts')).collect()

AttributeError: 'str' object has no attribute 'max'

In [245]:
get_hour_4(psdf['ts'])

1513.1552777777777

In [249]:
psdf['ts'].apply(get_hour_4)

23/07/09 08:41:55 ERROR Executor: Exception in task 0.0 in stage 1055.0 (TID 666)
org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/accessors.py", line 955, in pudf
    return first_series(output_func(pandas_concat(*series)))
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/groupby.py", line 2279, in rename_output
    pdf = func(pdf)
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/accessors.py", line 946, in apply_func
    return func(first_series(pdf)).to_frame()
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/series.py", line 3772, in apply_each
    return s.apply(func, args=args, **kwds)
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pandas/core/series.py", line 4630, in apply
    return SeriesApply(self, func, convert_dtype, args, kwargs).apply()
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pandas/core/apply.py", line 1025, in apply
    return self.apply_standard()
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pandas/core/apply.py", line 1076, in apply_standard
    mapped = lib.map_infer(
  File "pandas/_libs/lib.pyx", line 2834, in pandas._libs.lib.map_infer
  File "/var/folders/h9/t5gv56tx3wl0wk4czyrvf36m0000gn/T/ipykernel_78467/223114466.py", line 13, in get_hour_4
AttributeError: 'int' object has no attribute 'max'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:561)
	at org.apache.spark.sql.execution.python.PythonArrowOutput$$anon$1.read(PythonArrowOutput.scala:118)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:514)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:760)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:888)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)
23/07/09 08:41:55 WARN TaskSetManager: Lost task 0.0 in stage 1055.0 (TID 666) (192.168.1.5 executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/accessors.py", line 955, in pudf
    return first_series(output_func(pandas_concat(*series)))
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/groupby.py", line 2279, in rename_output
    pdf = func(pdf)
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/accessors.py", line 946, in apply_func
    return func(first_series(pdf)).to_frame()
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/series.py", line 3772, in apply_each
    return s.apply(func, args=args, **kwds)
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pandas/core/series.py", line 4630, in apply
    return SeriesApply(self, func, convert_dtype, args, kwargs).apply()
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pandas/core/apply.py", line 1025, in apply
    return self.apply_standard()
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pandas/core/apply.py", line 1076, in apply_standard
    mapped = lib.map_infer(
  File "pandas/_libs/lib.pyx", line 2834, in pandas._libs.lib.map_infer
  File "/var/folders/h9/t5gv56tx3wl0wk4czyrvf36m0000gn/T/ipykernel_78467/223114466.py", line 13, in get_hour_4
AttributeError: 'int' object has no attribute 'max'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:561)
	at org.apache.spark.sql.execution.python.PythonArrowOutput$$anon$1.read(PythonArrowOutput.scala:118)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:514)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:760)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:888)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)

23/07/09 08:41:55 ERROR TaskSetManager: Task 0 in stage 1055.0 failed 1 times; aborting job

PythonException:
  An exception was thrown from the Python worker. Please see the stack trace below.
Traceback (most recent call last):
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/accessors.py", line 955, in pudf
    return first_series(output_func(pandas_concat(*series)))
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/groupby.py", line 2279, in rename_output
    pdf = func(pdf)
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/accessors.py", line 946, in apply_func
    return func(first_series(pdf)).to_frame()
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pyspark/pandas/series.py", line 3772, in apply_each
    return s.apply(func, args=args, **kwds)
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pandas/core/series.py", line 4630, in apply
    return SeriesApply(self, func, convert_dtype, args, kwargs).apply()
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pandas/core/apply.py", line 1025, in apply
    return self.apply_standard()
  File "/opt/anaconda3/envs/pyspark/lib/python3.9/site-packages/pandas/core/apply.py", line 1076, in apply_standard
    mapped = lib.map_infer(
  File "pandas/_libs/lib.pyx", line 2834, in pandas._libs.lib.map_infer
  File "/var/folders/h9/t5gv56tx3wl0wk4czyrvf36m0000gn/T/ipykernel_78467/223114466.py", line 13, in get_hour_4
AttributeError: 'int' object has no attribute 'max'

In [248]:
psdf[['ts']].apply(get_hour_4)

0      232.885278
1      164.629444
2      145.291667
3      173.256944
4      161.263611
5      199.976667
6      164.378611
7      155.348056
8     1457.794722
9     1504.033611
10     622.928056
11     602.393056
12     112.420278
13     105.283611
14     130.655833
15      96.646111
16     125.369167
17     124.300833
18      82.996389
19     114.896111
20     103.280833
21     114.151944
22     120.469167
23     113.562222
24    1457.269444
25    1418.597500
26     776.319444
27    1450.814722
28     823.129722
dtype: float64

In [212]:
df.groupby('userId').agg(get_hour_1('ts'))

AnalysisException: [MISSING_AGGREGATION] The non-aggregating expression "ts" is based on columns which are not participating in the GROUP BY clause.
Add the columns or the expression to the GROUP BY, aggregate the expression, or use "any_value(ts)" if you do not care which of the values within a group is returned.;
Aggregate [userId#25], [userId#25, get_hour_1(ts#23L)#66010 AS get_hour_1(ts)#66011]
+- RepartitionByExpression [userId#25], 2
   +- Project [ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11]
      +- Relation [artist#8,auth#9,firstName#10,gender#11,itemInSession#12L,lastName#13,length#14,level#15,location#16,method#17,page#18,registration#19L,sessionId#20L,song#21,status#22L,ts#23L,userAgent#24,userId#25] json

In [214]:
df.groupby('userId').agg(get_hour_2('ts')).collect()

[Row(userId='74', (((max(ts) - min(ts)) / 3600) / 1000)=1434.793888888889),
 Row(userId='', (((max(ts) - min(ts)) / 3600) / 1000)=1462.9155555555556),
 Row(userId='4', (((max(ts) - min(ts)) / 3600) / 1000)=1455.2494444444444),
 Row(userId='45', (((max(ts) - min(ts)) / 3600) / 1000)=1397.44),
 Row(userId='87', (((max(ts) - min(ts)) / 3600) / 1000)=465.0336111111111),
 Row(userId='131', (((max(ts) - min(ts)) / 3600) / 1000)=1434.368888888889),
 Row(userId='126', (((max(ts) - min(ts)) / 3600) / 1000)=1445.9644444444446),
 Row(userId='146', (((max(ts) - min(ts)) / 3600) / 1000)=1448.823611111111),
 Row(userId='36', (((max(ts) - min(ts)) / 3600) / 1000)=1351.5075),
 Row(userId='120', (((max(ts) - min(ts)) / 3600) / 1000)=1429.6455555555556),
 Row(userId='27', (((max(ts) - min(ts)) / 3600) / 1000)=1308.288888888889),
 Row(userId='140', (((max(ts) - min(ts)) / 3600) / 1000)=1444.5180555555555),
 Row(userId='81', (((max(ts) - min(ts)) / 3600) / 1000)=1447.2408333333333),
 Row(userId='137', (((max(ts) - min(ts)) / 3600) / 1000)=1303.633888888889),
 Row(userId='65', (((max(ts) - min(ts)) / 3600) / 1000)=1409.4969444444446),
 Row(userId='29', (((max(ts) - min(ts)) / 3600) / 1000)=1039.7022222222222),
 Row(userId='70', (((max(ts) - min(ts)) / 3600) / 1000)=1054.2447222222222),
 Row(userId='61', (((max(ts) - min(ts)) / 3600) / 1000)=1383.966111111111),
 Row(userId='136', (((max(ts) - min(ts)) / 3600) / 1000)=1407.8805555555555),
 Row(userId='80', (((max(ts) - min(ts)) / 3600) / 1000)=1360.3366666666668),
 Row(userId='110', (((max(ts) - min(ts)) / 3600) / 1000)=1415.385),
 Row(userId='121', (((max(ts) - min(ts)) / 3600) / 1000)=353.12833333333333),
 Row(userId='85', (((max(ts) - min(ts)) / 3600) / 1000)=1416.3927777777778),
 Row(userId='96', (((max(ts) - min(ts)) / 3600) / 1000)=1395.7330555555554),
 Row(userId='20', (((max(ts) - min(ts)) / 3600) / 1000)=1380.5116666666668),
 Row(userId='3', (((max(ts) - min(ts)) / 3600) / 1000)=650.8358333333334),
 Row(userId='12', (((max(ts) - min(ts)) / 3600) / 1000)=460.9686111111111),
 Row(userId='73', (((max(ts) - min(ts)) / 3600) / 1000)=516.7091666666666),
 Row(userId='17', (((max(ts) - min(ts)) / 3600) / 1000)=256.15694444444443),
 Row(userId='86', (((max(ts) - min(ts)) / 3600) / 1000)=1354.363611111111),
 Row(userId='67', (((max(ts) - min(ts)) / 3600) / 1000)=1138.7252777777778),
 Row(userId='106', (((max(ts) - min(ts)) / 3600) / 1000)=716.6),
 Row(userId='69', (((max(ts) - min(ts)) / 3600) / 1000)=1223.6755555555555),
 Row(userId='99', (((max(ts) - min(ts)) / 3600) / 1000)=1305.1175),
 Row(userId='49', (((max(ts) - min(ts)) / 3600) / 1000)=1378.9116666666666),
 Row(userId='102', (((max(ts) - min(ts)) / 3600) / 1000)=1348.0191666666667),
 Row(userId='122', (((max(ts) - min(ts)) / 3600) / 1000)=390.2313888888889),
 Row(userId='135', (((max(ts) - min(ts)) / 3600) / 1000)=0.3741666666666667),
 Row(userId='111', (((max(ts) - min(ts)) / 3600) / 1000)=1337.1422222222222),
 Row(userId='66', (((max(ts) - min(ts)) / 3600) / 1000)=1335.0325),
 Row(userId='44', (((max(ts) - min(ts)) / 3600) / 1000)=637.9447222222223),
 Row(userId='37', (((max(ts) - min(ts)) / 3600) / 1000)=1305.3530555555556),
 Row(userId='90', (((max(ts) - min(ts)) / 3600) / 1000)=1125.7733333333333),
 Row(userId='104', (((max(ts) - min(ts)) / 3600) / 1000)=1272.3880555555554),
 Row(userId='107', (((max(ts) - min(ts)) / 3600) / 1000)=1071.6708333333333),
 Row(userId='97', (((max(ts) - min(ts)) / 3600) / 1000)=1308.013888888889),
 Row(userId='76', (((max(ts) - min(ts)) / 3600) / 1000)=1105.3880555555554),
 Row(userId='119', (((max(ts) - min(ts)) / 3600) / 1000)=1140.3916666666667),
 Row(userId='150', (((max(ts) - min(ts)) / 3600) / 1000)=1249.4425),
 Row(userId='68', (((max(ts) - min(ts)) / 3600) / 1000)=1066.313611111111),
 Row(userId='147', (((max(ts) - min(ts)) / 3600) / 1000)=1194.276388888889),
 Row(userId='8', (((max(ts) - min(ts)) / 3600) / 1000)=1222.066388888889),
 Row(userId='56', (((max(ts) - min(ts)) / 3600) / 1000)=1229.0155555555555),
 Row(userId='34', (((max(ts) - min(ts)) / 3600) / 1000)=998.0258333333334),
 Row(userId='60', (((max(ts) - min(ts)) / 3600) / 1000)=1091.8144444444445),
 Row(userId='47', (((max(ts) - min(ts)) / 3600) / 1000)=1033.451388888889),
 Row(userId='43', (((max(ts) - min(ts)) / 3600) / 1000)=711.0075),
 Row(userId='57', (((max(ts) - min(ts)) / 3600) / 1000)=814.4075),
 Row(userId='149', (((max(ts) - min(ts)) / 3600) / 1000)=345.74805555555554),
 Row(userId='71', (((max(ts) - min(ts)) / 3600) / 1000)=735.3797222222222),
 Row(userId='79', (((max(ts) - min(ts)) / 3600) / 1000)=869.8116666666666),
 Row(userId='152', (((max(ts) - min(ts)) / 3600) / 1000)=761.0230555555555),
 Row(userId='139', (((max(ts) - min(ts)) / 3600) / 1000)=496.0961111111111),
 Row(userId='155', (((max(ts) - min(ts)) / 3600) / 1000)=619.8680555555555),
 Row(userId='72', (((max(ts) - min(ts)) / 3600) / 1000)=5.571944444444444),
 Row(userId='156', (((max(ts) - min(ts)) / 3600) / 1000)=0.11666666666666667),
 Row(userId='100009', (((max(ts) - min(ts)) / 3600) / 1000)=621.3147222222223),
 Row(userId='100016', (((max(ts) - min(ts)) / 3600) / 1000)=1368.633611111111),
 Row(userId='100015', (((max(ts) - min(ts)) / 3600) / 1000)=1289.8872222222221),
 Row(userId='100004', (((max(ts) - min(ts)) / 3600) / 1000)=1367.8416666666667),
 Row(userId='100012', (((max(ts) - min(ts)) / 3600) / 1000)=698.5611111111111),
 Row(userId='100023', (((max(ts) - min(ts)) / 3600) / 1000)=224.96527777777777),
 Row(userId='100018', (((max(ts) - min(ts)) / 3600) / 1000)=1287.4255555555555),
 Row(userId='100010', (((max(ts) - min(ts)) / 3600) / 1000)=1061.2272222222223),
 Row(userId='100002', (((max(ts) - min(ts)) / 3600) / 1000)=1322.2308333333333),
 Row(userId='100008', (((max(ts) - min(ts)) / 3600) / 1000)=1175.9875),
 Row(userId='100021', (((max(ts) - min(ts)) / 3600) / 1000)=1090.9741666666666),
 Row(userId='100017', (((max(ts) - min(ts)) / 3600) / 1000)=3.321111111111111),
 Row(userId='200002', (((max(ts) - min(ts)) / 3600) / 1000)=1091.9233333333332),
 Row(userId='200022', (((max(ts) - min(ts)) / 3600) / 1000)=837.6472222222222),
 Row(userId='200011', (((max(ts) - min(ts)) / 3600) / 1000)=732.4341666666667),
 Row(userId='200017', (((max(ts) - min(ts)) / 3600) / 1000)=1013.2577777777777),
 Row(userId='200018', (((max(ts) - min(ts)) / 3600) / 1000)=651.3438888888888),
 Row(userId='200012', (((max(ts) - min(ts)) / 3600) / 1000)=66.38777777777779),
 Row(userId='300001', (((max(ts) - min(ts)) / 3600) / 1000)=1283.1283333333333),
 Row(userId='300011', (((max(ts) - min(ts)) / 3600) / 1000)=1442.1994444444445),
 Row(userId='300008', (((max(ts) - min(ts)) / 3600) / 1000)=1397.5519444444444),
 Row(userId='300021', (((max(ts) - min(ts)) / 3600) / 1000)=1428.6033333333332),
 Row(userId='300009', (((max(ts) - min(ts)) / 3600) / 1000)=1400.086388888889),
 Row(userId='300025', (((max(ts) - min(ts)) / 3600) / 1000)=1384.1722222222222),
 Row(userId='300012', (((max(ts) - min(ts)) / 3600) / 1000)=1279.126111111111),
 Row(userId='300007', (((max(ts) - min(ts)) / 3600) / 1000)=7.733888888888889),
 Row(userId='300014', (((max(ts) - min(ts)) / 3600) / 1000)=969.6283333333333),
 Row(userId='300016', (((max(ts) - min(ts)) / 3600) / 1000)=1249.8755555555556),
 Row(userId='300019', (((max(ts) - min(ts)) / 3600) / 1000)=1285.1780555555556),
 Row(userId='300006', (((max(ts) - min(ts)) / 3600) / 1000)=1040.4163888888888),
 Row(userId='300004', (((max(ts) - min(ts)) / 3600) / 1000)=699.2252777777777),
 Row(userId='30', (((max(ts) - min(ts)) / 3600) / 1000)=1463.9452777777778),
 Row(userId='9', (((max(ts) - min(ts)) / 3600) / 1000)=1454.27),
 Row(userId='54', (((max(ts) - min(ts)) / 3600) / 1000)=1027.1327777777778),
 Row(userId='101', (((max(ts) - min(ts)) / 3600) / 1000)=380.67555555555555),
 Row(userId='78', (((max(ts) - min(ts)) / 3600) / 1000)=1438.9177777777777),
 Row(userId='88', (((max(ts) - min(ts)) / 3600) / 1000)=1357.2130555555555),
 Row(userId='95', (((max(ts) - min(ts)) / 3600) / 1000)=1451.095),
 Row(userId='25', (((max(ts) - min(ts)) / 3600) / 1000)=1401.7247222222222),
 Row(userId='142', (((max(ts) - min(ts)) / 3600) / 1000)=1453.948888888889),
 Row(userId='13', (((max(ts) - min(ts)) / 3600) / 1000)=1427.95),
 Row(userId='39', (((max(ts) - min(ts)) / 3600) / 1000)=1457.3908333333331),
 Row(userId='28', (((max(ts) - min(ts)) / 3600) / 1000)=857.2530555555555),
 Row(userId='59', (((max(ts) - min(ts)) / 3600) / 1000)=1411.996111111111),
 Row(userId='15', (((max(ts) - min(ts)) / 3600) / 1000)=1314.556388888889),
 Row(userId='92', (((max(ts) - min(ts)) / 3600) / 1000)=1450.8875),
 Row(userId='33', (((max(ts) - min(ts)) / 3600) / 1000)=1369.0383333333332),
 Row(userId='51', (((max(ts) - min(ts)) / 3600) / 1000)=378.7055555555556),
 Row(userId='143', (((max(ts) - min(ts)) / 3600) / 1000)=329.78305555555556),
 Row(userId='6', (((max(ts) - min(ts)) / 3600) / 1000)=1423.6119444444446),
 Row(userId='124', (((max(ts) - min(ts)) / 3600) / 1000)=1439.9266666666667),
 Row(userId='141', (((max(ts) - min(ts)) / 3600) / 1000)=1113.9377777777777),
 Row(userId='93', (((max(ts) - min(ts)) / 3600) / 1000)=1447.9127777777778),
 Row(userId='40', (((max(ts) - min(ts)) / 3600) / 1000)=1093.1972222222223),
 Row(userId='94', (((max(ts) - min(ts)) / 3600) / 1000)=1213.4805555555556),
 Row(userId='113', (((max(ts) - min(ts)) / 3600) / 1000)=1439.0833333333333),
 Row(userId='98', (((max(ts) - min(ts)) / 3600) / 1000)=1426.31),
 Row(userId='53', (((max(ts) - min(ts)) / 3600) / 1000)=1170.0341666666668),
 Row(userId='42', (((max(ts) - min(ts)) / 3600) / 1000)=1442.1180555555554),
 Row(userId='115', (((max(ts) - min(ts)) / 3600) / 1000)=1376.7472222222223),
 Row(userId='38', (((max(ts) - min(ts)) / 3600) / 1000)=1439.2458333333332),
 Row(userId='58', (((max(ts) - min(ts)) / 3600) / 1000)=499.22194444444443),
 Row(userId='77', (((max(ts) - min(ts)) / 3600) / 1000)=1373.4116666666666),
 Row(userId='52', (((max(ts) - min(ts)) / 3600) / 1000)=1393.2341666666669),
 Row(userId='46', (((max(ts) - min(ts)) / 3600) / 1000)=1325.8466666666668),
 Row(userId='35', (((max(ts) - min(ts)) / 3600) / 1000)=1419.7466666666667),
 Row(userId='132', (((max(ts) - min(ts)) / 3600) / 1000)=1211.9377777777777),
 Row(userId='127', (((max(ts) - min(ts)) / 3600) / 1000)=1354.3894444444445),
 Row(userId='129', (((max(ts) - min(ts)) / 3600) / 1000)=346.82027777777773),
 Row(userId='82', (((max(ts) - min(ts)) / 3600) / 1000)=1361.2847222222222),
 Row(userId='100', (((max(ts) - min(ts)) / 3600) / 1000)=1415.1908333333333),
 Row(userId='117', (((max(ts) - min(ts)) / 3600) / 1000)=1354.5352777777778),
 Row(userId='18', (((max(ts) - min(ts)) / 3600) / 1000)=123.3536111111111),
 Row(userId='118', (((max(ts) - min(ts)) / 3600) / 1000)=1344.628611111111),
 Row(userId='105', (((max(ts) - min(ts)) / 3600) / 1000)=240.14527777777778),
 Row(userId='55', (((max(ts) - min(ts)) / 3600) / 1000)=1197.548611111111),
 Row(userId='41', (((max(ts) - min(ts)) / 3600) / 1000)=1242.831111111111),
 Row(userId='7', (((max(ts) - min(ts)) / 3600) / 1000)=1218.8172222222222),
 Row(userId='32', (((max(ts) - min(ts)) / 3600) / 1000)=126.1525),
 Row(userId='5', (((max(ts) - min(ts)) / 3600) / 1000)=848.8144444444445),
 Row(userId='114', (((max(ts) - min(ts)) / 3600) / 1000)=1225.04),
 Row(userId='16', (((max(ts) - min(ts)) / 3600) / 1000)=1369.5069444444446),
 Row(userId='50', (((max(ts) - min(ts)) / 3600) / 1000)=1376.1266666666668),
 Row(userId='24', (((max(ts) - min(ts)) / 3600) / 1000)=1377.53),
 Row(userId='103', (((max(ts) - min(ts)) / 3600) / 1000)=747.6586111111111),
 Row(userId='75', (((max(ts) - min(ts)) / 3600) / 1000)=1248.89),
 Row(userId='128', (((max(ts) - min(ts)) / 3600) / 1000)=1345.8994444444445),
 Row(userId='112', (((max(ts) - min(ts)) / 3600) / 1000)=1365.088611111111),
 Row(userId='145', (((max(ts) - min(ts)) / 3600) / 1000)=1372.086111111111),
 Row(userId='83', (((max(ts) - min(ts)) / 3600) / 1000)=1336.1647222222223),
 Row(userId='11', (((max(ts) - min(ts)) / 3600) / 1000)=1277.7980555555555),
 Row(userId='91', (((max(ts) - min(ts)) / 3600) / 1000)=1305.111111111111),
 Row(userId='138', (((max(ts) - min(ts)) / 3600) / 1000)=1345.8419444444446),
 Row(userId='148', (((max(ts) - min(ts)) / 3600) / 1000)=1328.9219444444445),
 Row(userId='109', (((max(ts) - min(ts)) / 3600) / 1000)=967.5830555555555),
 Row(userId='134', (((max(ts) - min(ts)) / 3600) / 1000)=1201.4294444444445),
 Row(userId='10', (((max(ts) - min(ts)) / 3600) / 1000)=1018.4911111111111),
 Row(userId='2', (((max(ts) - min(ts)) / 3600) / 1000)=1073.6691666666668),
 Row(userId='144', (((max(ts) - min(ts)) / 3600) / 1000)=1280.988611111111),
 Row(userId='89', (((max(ts) - min(ts)) / 3600) / 1000)=753.55),
 Row(userId='14', (((max(ts) - min(ts)) / 3600) / 1000)=1193.221388888889),
 Row(userId='62', (((max(ts) - min(ts)) / 3600) / 1000)=1192.2816666666668),
 Row(userId='19', (((max(ts) - min(ts)) / 3600) / 1000)=15.081111111111111),
 Row(userId='125', (((max(ts) - min(ts)) / 3600) / 1000)=0.49277777777777776),
 Row(userId='133', (((max(ts) - min(ts)) / 3600) / 1000)=2.897777777777778),
 Row(userId='26', (((max(ts) - min(ts)) / 3600) / 1000)=1071.756388888889),
 Row(userId='64', (((max(ts) - min(ts)) / 3600) / 1000)=559.2019444444445),
 Row(userId='21', (((max(ts) - min(ts)) / 3600) / 1000)=807.9697222222222),
 Row(userId='108', (((max(ts) - min(ts)) / 3600) / 1000)=934.2511111111111),
 Row(userId='123', (((max(ts) - min(ts)) / 3600) / 1000)=680.2947222222223),
 Row(userId='116', (((max(ts) - min(ts)) / 3600) / 1000)=544.9005555555555),
 Row(userId='63', (((max(ts) - min(ts)) / 3600) / 1000)=6.385555555555555),
 Row(userId='23', (((max(ts) - min(ts)) / 3600) / 1000)=536.0866666666666),
 Row(userId='154', (((max(ts) - min(ts)) / 3600) / 1000)=599.675),
 Row(userId='151', (((max(ts) - min(ts)) / 3600) / 1000)=9.100277777777777),
 Row(userId='153', (((max(ts) - min(ts)) / 3600) / 1000)=521.2825),
 Row(userId='22', (((max(ts) - min(ts)) / 3600) / 1000)=353.5736111111111),
 Row(userId='84', (((max(ts) - min(ts)) / 3600) / 1000)=171.36305555555558),
 Row(userId='100022', (((max(ts) - min(ts)) / 3600) / 1000)=1017.3472222222223),
 Row(userId='100001', (((max(ts) - min(ts)) / 3600) / 1000)=33.80583333333333),
 Row(userId='100025', (((max(ts) - min(ts)) / 3600) / 1000)=528.2597222222222),
 Row(userId='100005', (((max(ts) - min(ts)) / 3600) / 1000)=434.6694444444444),
 Row(userId='100011', (((max(ts) - min(ts)) / 3600) / 1000)=0.7397222222222222),
 Row(userId='100007', (((max(ts) - min(ts)) / 3600) / 1000)=1396.2516666666668),
 Row(userId='100013', (((max(ts) - min(ts)) / 3600) / 1000)=744.9305555555555),
 Row(userId='100024', (((max(ts) - min(ts)) / 3600) / 1000)=1.4208333333333332),
 Row(userId='100006', (((max(ts) - min(ts)) / 3600) / 1000)=1.557222222222222),
 Row(userId='100019', (((max(ts) - min(ts)) / 3600) / 1000)=36.94638888888889),
 Row(userId='100003', (((max(ts) - min(ts)) / 3600) / 1000)=48.43361111111111),
 Row(userId='100014', (((max(ts) - min(ts)) / 3600) / 1000)=989.8647222222222),
 Row(userId='200014', (((max(ts) - min(ts)) / 3600) / 1000)=1403.073611111111),
 Row(userId='200019', (((max(ts) - min(ts)) / 3600) / 1000)=1140.1708333333333),
 Row(userId='200023', (((max(ts) - min(ts)) / 3600) / 1000)=1450.966388888889),
 Row(userId='200001', (((max(ts) - min(ts)) / 3600) / 1000)=340.535),
 Row(userId='200020', (((max(ts) - min(ts)) / 3600) / 1000)=1130.2897222222223),
 Row(userId='200006', (((max(ts) - min(ts)) / 3600) / 1000)=1360.8247222222221),
 Row(userId='200010', (((max(ts) - min(ts)) / 3600) / 1000)=702.7363888888889),
 Row(userId='200015', (((max(ts) - min(ts)) / 3600) / 1000)=888.0430555555555),
 Row(userId='200004', (((max(ts) - min(ts)) / 3600) / 1000)=1320.491111111111),
 Row(userId='200021', (((max(ts) - min(ts)) / 3600) / 1000)=708.9927777777777),
 Row(userId='200008', (((max(ts) - min(ts)) / 3600) / 1000)=1372.3869444444445),
 Row(userId='200024', (((max(ts) - min(ts)) / 3600) / 1000)=463.5705555555556),
 Row(userId='200003', (((max(ts) - min(ts)) / 3600) / 1000)=1334.548888888889),
 Row(userId='200009', (((max(ts) - min(ts)) / 3600) / 1000)=1227.118888888889),
 Row(userId='200025', (((max(ts) - min(ts)) / 3600) / 1000)=969.6061111111111),
 Row(userId='200016', (((max(ts) - min(ts)) / 3600) / 1000)=832.6608333333334),
 Row(userId='200007', (((max(ts) - min(ts)) / 3600) / 1000)=731.555),
 Row(userId='200005', (((max(ts) - min(ts)) / 3600) / 1000)=620.4938888888889),
 Row(userId='300017', (((max(ts) - min(ts)) / 3600) / 1000)=1418.733611111111),
 Row(userId='300015', (((max(ts) - min(ts)) / 3600) / 1000)=1437.5869444444445),
 Row(userId='300023', (((max(ts) - min(ts)) / 3600) / 1000)=1402.47),
 Row(userId='300002', (((max(ts) - min(ts)) / 3600) / 1000)=1307.7430555555554),
 Row(userId='300005', (((max(ts) - min(ts)) / 3600) / 1000)=1010.9877777777778),
 Row(userId='300010', (((max(ts) - min(ts)) / 3600) / 1000)=1245.4433333333332),
 Row(userId='300020', (((max(ts) - min(ts)) / 3600) / 1000)=874.9713888888889),
 Row(userId='300022', (((max(ts) - min(ts)) / 3600) / 1000)=1208.4805555555556),
 Row(userId='300013', (((max(ts) - min(ts)) / 3600) / 1000)=1143.983888888889),
 Row(userId='300018', (((max(ts) - min(ts)) / 3600) / 1000)=1215.5975),
 Row(userId='300003', (((max(ts) - min(ts)) / 3600) / 1000)=1.7475),
 Row(userId='300024', (((max(ts) - min(ts)) / 3600) / 1000)=6.358055555555556)]

In [215]:
df.groupby('userId').agg(get_hour_3('ts')).collect()

[Row(userId='', get_hour_3(ts)=1462.91552734375),
 Row(userId='100002', get_hour_3(ts)=1322.2308349609375),
 Row(userId='100004', get_hour_3(ts)=1367.8416748046875),
 Row(userId='100008', get_hour_3(ts)=1175.987548828125),
 Row(userId='100009', get_hour_3(ts)=621.314697265625),
 Row(userId='100010', get_hour_3(ts)=1061.2271728515625),
 Row(userId='100012', get_hour_3(ts)=698.5610961914062),
 Row(userId='100015', get_hour_3(ts)=1289.88720703125),
 Row(userId='100016', get_hour_3(ts)=1368.6336669921875),
 Row(userId='100017', get_hour_3(ts)=3.3211112022399902),
 Row(userId='100018', get_hour_3(ts)=1287.425537109375),
 Row(userId='100021', get_hour_3(ts)=1090.97412109375),
 Row(userId='100023', get_hour_3(ts)=224.96527099609375),
 Row(userId='102', get_hour_3(ts)=1348.0191650390625),
 Row(userId='104', get_hour_3(ts)=1272.3880615234375),
 Row(userId='106', get_hour_3(ts)=716.5999755859375),
 Row(userId='107', get_hour_3(ts)=1071.6707763671875),
 Row(userId='110', get_hour_3(ts)=1415.385009765625),
 Row(userId='111', get_hour_3(ts)=1337.1422119140625),
 Row(userId='119', get_hour_3(ts)=1140.3917236328125),
 Row(userId='12', get_hour_3(ts)=460.9685974121094),
 Row(userId='120', get_hour_3(ts)=1429.6455078125),
 Row(userId='121', get_hour_3(ts)=353.1283264160156),
 Row(userId='122', get_hour_3(ts)=390.23138427734375),
 Row(userId='126', get_hour_3(ts)=1445.9644775390625),
 Row(userId='131', get_hour_3(ts)=1434.368896484375),
 Row(userId='135', get_hour_3(ts)=0.37416666746139526),
 Row(userId='136', get_hour_3(ts)=1407.880615234375),
 Row(userId='137', get_hour_3(ts)=1303.6339111328125),
 Row(userId='139', get_hour_3(ts)=496.0960998535156),
 Row(userId='140', get_hour_3(ts)=1444.51806640625),
 Row(userId='146', get_hour_3(ts)=1448.8236083984375),
 Row(userId='147', get_hour_3(ts)=1194.2763671875),
 Row(userId='149', get_hour_3(ts)=345.748046875),
 Row(userId='150', get_hour_3(ts)=1249.4425048828125),
 Row(userId='152', get_hour_3(ts)=761.0230712890625),
 Row(userId='155', get_hour_3(ts)=619.8680419921875),
 Row(userId='156', get_hour_3(ts)=0.11666666716337204),
 Row(userId='17', get_hour_3(ts)=256.1569519042969),
 Row(userId='20', get_hour_3(ts)=1380.51171875),
 Row(userId='200002', get_hour_3(ts)=1091.92333984375),
 Row(userId='200011', get_hour_3(ts)=732.4341430664062),
 Row(userId='200012', get_hour_3(ts)=66.38777923583984),
 Row(userId='200017', get_hour_3(ts)=1013.2577514648438),
 Row(userId='200018', get_hour_3(ts)=651.3438720703125),
 Row(userId='200022', get_hour_3(ts)=837.647216796875),
 Row(userId='27', get_hour_3(ts)=1308.2889404296875),
 Row(userId='29', get_hour_3(ts)=1039.7022705078125),
 Row(userId='3', get_hour_3(ts)=650.8358154296875),
 Row(userId='300001', get_hour_3(ts)=1283.1282958984375),
 Row(userId='300004', get_hour_3(ts)=699.2252807617188),
 Row(userId='300006', get_hour_3(ts)=1040.4163818359375),
 Row(userId='300007', get_hour_3(ts)=7.733889102935791),
 Row(userId='300008', get_hour_3(ts)=1397.552001953125),
 Row(userId='300009', get_hour_3(ts)=1400.08642578125),
 Row(userId='300011', get_hour_3(ts)=1442.199462890625),
 Row(userId='300012', get_hour_3(ts)=1279.1260986328125),
 Row(userId='300014', get_hour_3(ts)=969.6283569335938),
 Row(userId='300016', get_hour_3(ts)=1249.8756103515625),
 Row(userId='300019', get_hour_3(ts)=1285.1781005859375),
 Row(userId='300021', get_hour_3(ts)=1428.6033935546875),
 Row(userId='300025', get_hour_3(ts)=1384.1722412109375),
 Row(userId='34', get_hour_3(ts)=998.0258178710938),
 Row(userId='36', get_hour_3(ts)=1351.5074462890625),
 Row(userId='37', get_hour_3(ts)=1305.35302734375),
 Row(userId='4', get_hour_3(ts)=1455.2493896484375),
 Row(userId='43', get_hour_3(ts)=711.0075073242188),
 Row(userId='44', get_hour_3(ts)=637.9447021484375),
 Row(userId='45', get_hour_3(ts)=1397.43994140625),
 Row(userId='47', get_hour_3(ts)=1033.451416015625),
 Row(userId='49', get_hour_3(ts)=1378.91162109375),
 Row(userId='56', get_hour_3(ts)=1229.0155029296875),
 Row(userId='57', get_hour_3(ts)=814.407470703125),
 Row(userId='60', get_hour_3(ts)=1091.814453125),
 Row(userId='61', get_hour_3(ts)=1383.966064453125),
 Row(userId='65', get_hour_3(ts)=1409.4969482421875),
 Row(userId='66', get_hour_3(ts)=1335.032470703125),
 Row(userId='67', get_hour_3(ts)=1138.7252197265625),
 Row(userId='68', get_hour_3(ts)=1066.3135986328125),
 Row(userId='69', get_hour_3(ts)=1223.675537109375),
 Row(userId='70', get_hour_3(ts)=1054.2447509765625),
 Row(userId='71', get_hour_3(ts)=735.3796997070312),
 Row(userId='72', get_hour_3(ts)=5.571944236755371),
 Row(userId='73', get_hour_3(ts)=516.7091674804688),
 Row(userId='74', get_hour_3(ts)=1434.7939453125),
 Row(userId='76', get_hour_3(ts)=1105.3880615234375),
 Row(userId='79', get_hour_3(ts)=869.8116455078125),
 Row(userId='8', get_hour_3(ts)=1222.06640625),
 Row(userId='80', get_hour_3(ts)=1360.336669921875),
 Row(userId='81', get_hour_3(ts)=1447.2408447265625),
 Row(userId='85', get_hour_3(ts)=1416.392822265625),
 Row(userId='86', get_hour_3(ts)=1354.3636474609375),
 Row(userId='87', get_hour_3(ts)=465.0335998535156),
 Row(userId='90', get_hour_3(ts)=1125.7733154296875),
 Row(userId='96', get_hour_3(ts)=1395.7330322265625),
 Row(userId='97', get_hour_3(ts)=1308.013916015625),
 Row(userId='99', get_hour_3(ts)=1305.1175537109375),
 Row(userId='10', get_hour_3(ts)=1018.4910888671875),
 Row(userId='100', get_hour_3(ts)=1415.1907958984375),
 Row(userId='100001', get_hour_3(ts)=33.80583190917969),
 Row(userId='100003', get_hour_3(ts)=48.43361282348633),
 Row(userId='100005', get_hour_3(ts)=434.66943359375),
 Row(userId='100006', get_hour_3(ts)=1.5572222471237183),
 Row(userId='100007', get_hour_3(ts)=1396.251708984375),
 Row(userId='100011', get_hour_3(ts)=0.7397222518920898),
 Row(userId='100013', get_hour_3(ts)=744.9305419921875),
 Row(userId='100014', get_hour_3(ts)=989.86474609375),
 Row(userId='100019', get_hour_3(ts)=36.946388244628906),
 Row(userId='100022', get_hour_3(ts)=1017.3472290039062),
 Row(userId='100024', get_hour_3(ts)=1.4208333492279053),
 Row(userId='100025', get_hour_3(ts)=528.2597045898438),
 Row(userId='101', get_hour_3(ts)=380.6755676269531),
 Row(userId='103', get_hour_3(ts)=747.6586303710938),
 Row(userId='105', get_hour_3(ts)=240.14527893066406),
 Row(userId='108', get_hour_3(ts)=934.2510986328125),
 Row(userId='109', get_hour_3(ts)=967.5830688476562),
 Row(userId='11', get_hour_3(ts)=1277.798095703125),
 Row(userId='112', get_hour_3(ts)=1365.088623046875),
 Row(userId='113', get_hour_3(ts)=1439.0833740234375),
 Row(userId='114', get_hour_3(ts)=1225.0400390625),
 Row(userId='115', get_hour_3(ts)=1376.7471923828125),
 Row(userId='116', get_hour_3(ts)=544.9005737304688),
 Row(userId='117', get_hour_3(ts)=1354.5352783203125),
 Row(userId='118', get_hour_3(ts)=1344.628662109375),
 Row(userId='123', get_hour_3(ts)=680.2947387695312),
 Row(userId='124', get_hour_3(ts)=1439.9266357421875),
 Row(userId='125', get_hour_3(ts)=0.4927777647972107),
 Row(userId='127', get_hour_3(ts)=1354.389404296875),
 Row(userId='128', get_hour_3(ts)=1345.8994140625),
 Row(userId='129', get_hour_3(ts)=346.8202819824219),
 Row(userId='13', get_hour_3(ts)=1427.949951171875),
 Row(userId='132', get_hour_3(ts)=1211.937744140625),
 Row(userId='133', get_hour_3(ts)=2.897777795791626),
 Row(userId='134', get_hour_3(ts)=1201.429443359375),
 Row(userId='138', get_hour_3(ts)=1345.8419189453125),
 Row(userId='14', get_hour_3(ts)=1193.221435546875),
 Row(userId='141', get_hour_3(ts)=1113.937744140625),
 Row(userId='142', get_hour_3(ts)=1453.9488525390625),
 Row(userId='143', get_hour_3(ts)=329.7830505371094),
 Row(userId='144', get_hour_3(ts)=1280.9886474609375),
 Row(userId='145', get_hour_3(ts)=1372.0860595703125),
 Row(userId='148', get_hour_3(ts)=1328.9219970703125),
 Row(userId='15', get_hour_3(ts)=1314.556396484375),
 Row(userId='151', get_hour_3(ts)=9.1002779006958),
 Row(userId='153', get_hour_3(ts)=521.282470703125),
 Row(userId='154', get_hour_3(ts)=599.6749877929688),
 Row(userId='16', get_hour_3(ts)=1369.5069580078125),
 Row(userId='18', get_hour_3(ts)=123.3536148071289),
 Row(userId='19', get_hour_3(ts)=15.081110954284668),
 Row(userId='2', get_hour_3(ts)=1073.669189453125),
 Row(userId='200001', get_hour_3(ts)=340.5350036621094),
 Row(userId='200003', get_hour_3(ts)=1334.548828125),
 Row(userId='200004', get_hour_3(ts)=1320.4910888671875),
 Row(userId='200005', get_hour_3(ts)=620.493896484375),
 Row(userId='200006', get_hour_3(ts)=1360.82470703125),
 Row(userId='200007', get_hour_3(ts)=731.5549926757812),
 Row(userId='200008', get_hour_3(ts)=1372.386962890625),
 Row(userId='200009', get_hour_3(ts)=1227.118896484375),
 Row(userId='200010', get_hour_3(ts)=702.7363891601562),
 Row(userId='200014', get_hour_3(ts)=1403.0736083984375),
 Row(userId='200015', get_hour_3(ts)=888.0430297851562),
 Row(userId='200016', get_hour_3(ts)=832.6608276367188),
 Row(userId='200019', get_hour_3(ts)=1140.1707763671875),
 Row(userId='200020', get_hour_3(ts)=1130.2896728515625),
 Row(userId='200021', get_hour_3(ts)=708.9927978515625),
 Row(userId='200023', get_hour_3(ts)=1450.9664306640625),
 Row(userId='200024', get_hour_3(ts)=463.570556640625),
 Row(userId='200025', get_hour_3(ts)=969.6061401367188),
 Row(userId='21', get_hour_3(ts)=807.9697265625),
 Row(userId='22', get_hour_3(ts)=353.5736083984375),
 Row(userId='23', get_hour_3(ts)=536.086669921875),
 Row(userId='24', get_hour_3(ts)=1377.530029296875),
 Row(userId='25', get_hour_3(ts)=1401.7247314453125),
 Row(userId='26', get_hour_3(ts)=1071.75634765625),
 Row(userId='28', get_hour_3(ts)=857.2530517578125),
 Row(userId='30', get_hour_3(ts)=1463.9453125),
 Row(userId='300002', get_hour_3(ts)=1307.7430419921875),
 Row(userId='300003', get_hour_3(ts)=1.747499942779541),
 Row(userId='300005', get_hour_3(ts)=1010.98779296875),
 Row(userId='300010', get_hour_3(ts)=1245.443359375),
 Row(userId='300013', get_hour_3(ts)=1143.98388671875),
 Row(userId='300015', get_hour_3(ts)=1437.5869140625),
 Row(userId='300017', get_hour_3(ts)=1418.733642578125),
 Row(userId='300018', get_hour_3(ts)=1215.5975341796875),
 Row(userId='300020', get_hour_3(ts)=874.9713745117188),
 Row(userId='300022', get_hour_3(ts)=1208.4805908203125),
 Row(userId='300023', get_hour_3(ts)=1402.469970703125),
 Row(userId='300024', get_hour_3(ts)=6.358055591583252),
 Row(userId='32', get_hour_3(ts)=126.15249633789062),
 Row(userId='33', get_hour_3(ts)=1369.038330078125),
 Row(userId='35', get_hour_3(ts)=1419.7467041015625),
 Row(userId='38', get_hour_3(ts)=1439.245849609375),
 Row(userId='39', get_hour_3(ts)=1457.390869140625),
 Row(userId='40', get_hour_3(ts)=1093.197265625),
 Row(userId='41', get_hour_3(ts)=1242.8310546875),
 Row(userId='42', get_hour_3(ts)=1442.1180419921875),
 Row(userId='46', get_hour_3(ts)=1325.8466796875),
 Row(userId='5', get_hour_3(ts)=848.814453125),
 Row(userId='50', get_hour_3(ts)=1376.126708984375),
 Row(userId='51', get_hour_3(ts)=378.70556640625),
 Row(userId='52', get_hour_3(ts)=1393.234130859375),
 Row(userId='53', get_hour_3(ts)=1170.0341796875),
 Row(userId='54', get_hour_3(ts)=1027.1328125),
 Row(userId='55', get_hour_3(ts)=1197.548583984375),
 Row(userId='58', get_hour_3(ts)=499.2219543457031),
 Row(userId='59', get_hour_3(ts)=1411.99609375),
 Row(userId='6', get_hour_3(ts)=1423.6119384765625),
 Row(userId='62', get_hour_3(ts)=1192.2816162109375),
 Row(userId='63', get_hour_3(ts)=6.385555744171143),
 Row(userId='64', get_hour_3(ts)=559.2019653320312),
 Row(userId='7', get_hour_3(ts)=1218.8172607421875),
 Row(userId='75', get_hour_3(ts)=1248.8900146484375),
 Row(userId='77', get_hour_3(ts)=1373.41162109375),
 Row(userId='78', get_hour_3(ts)=1438.917724609375),
 Row(userId='82', get_hour_3(ts)=1361.28466796875),
 Row(userId='83', get_hour_3(ts)=1336.1646728515625),
 Row(userId='84', get_hour_3(ts)=171.36305236816406),
 Row(userId='88', get_hour_3(ts)=1357.2130126953125),
 Row(userId='89', get_hour_3(ts)=753.5499877929688),
 Row(userId='9', get_hour_3(ts)=1454.27001953125),
 Row(userId='91', get_hour_3(ts)=1305.111083984375),
 Row(userId='92', get_hour_3(ts)=1450.887451171875),
 Row(userId='93', get_hour_3(ts)=1447.9127197265625),
 Row(userId='94', get_hour_3(ts)=1213.4805908203125),
 Row(userId='95', get_hour_3(ts)=1451.094970703125),
 Row(userId='98', get_hour_3(ts)=1426.31005859375)]

In [253]:
psdf.groupby('userId')['ts'].apply(get_hour_5)

                 c0
        1462.915556
100002  1322.230833
100004  1367.841667
100008  1175.987500
100009   621.314722
100010  1061.227222
100012   698.561111
100015  1289.887222
100016  1368.633611
100017     3.321111
100018  1287.425556
100021  1090.974167
100023   224.965278
102     1348.019167
104     1272.388056
106      716.600000
107     1071.670833
110     1415.385000
111     1337.142222
119     1140.391667
12       460.968611
120     1429.645556
121      353.128333
122      390.231389
126     1445.964444
131     1434.368889
135        0.374167
136     1407.880556
137     1303.633889
139      496.096111
140     1444.518056
146     1448.823611
147     1194.276389
149      345.748056
150     1249.442500
152      761.023056
155      619.868056
156        0.116667
17       256.156944
20      1380.511667
200002  1091.923333
200011   732.434167
200012    66.387778
200017  1013.257778
200018   651.343889
200022   837.647222
27      1308.288889
29      1039.702222
3        650.835833
300001  1283.128333
300004   699.225278
300006  1040.416389
300007     7.733889
300008  1397.551944
300009  1400.086389
300011  1442.199444
300012  1279.126111
300014   969.628333
300016  1249.875556
300019  1285.178056
300021  1428.603333
300025  1384.172222
34       998.025833
36      1351.507500
37      1305.353056
4       1455.249444
43       711.007500
44       637.944722
45      1397.440000
47      1033.451389
49      1378.911667
56      1229.015556
57       814.407500
60      1091.814444
61      1383.966111
65      1409.496944
66      1335.032500
67      1138.725278
68      1066.313611
69      1223.675556
70      1054.244722
71       735.379722
72         5.571944
73       516.709167
74      1434.793889
76      1105.388056
79       869.811667
8       1222.066389
80      1360.336667
81      1447.240833
85      1416.392778
86      1354.363611
87       465.033611
90      1125.773333
96      1395.733056
97      1308.013889
99      1305.117500
10      1018.491111
100     1415.190833
100001    33.805833
100003    48.433611
100005   434.669444
100006     1.557222
100007  1396.251667
100011     0.739722
100013   744.930556
100014   989.864722
100019    36.946389
100022  1017.347222
100024     1.420833
100025   528.259722
101      380.675556
103      747.658611
105      240.145278
108      934.251111
109      967.583056
11      1277.798056
112     1365.088611
113     1439.083333
114     1225.040000
115     1376.747222
116      544.900556
117     1354.535278
118     1344.628611
123      680.294722
124     1439.926667
125        0.492778
127     1354.389444
128     1345.899444
129      346.820278
13      1427.950000
132     1211.937778
133        2.897778
134     1201.429444
138     1345.841944
14      1193.221389
141     1113.937778
142     1453.948889
143      329.783056
144     1280.988611
145     1372.086111
148     1328.921944
15      1314.556389
151        9.100278
153      521.282500
154      599.675000
16      1369.506944
18       123.353611
19        15.081111
2       1073.669167
200001   340.535000
200003  1334.548889
200004  1320.491111
200005   620.493889
200006  1360.824722
200007   731.555000
200008  1372.386944
200009  1227.118889
200010   702.736389
200014  1403.073611
200015   888.043056
200016   832.660833
200019  1140.170833
200020  1130.289722
200021   708.992778
200023  1450.966389
200024   463.570556
200025   969.606111
21       807.969722
22       353.573611
23       536.086667
24      1377.530000
25      1401.724722
26      1071.756389
28       857.253056
30      1463.945278
300002  1307.743056
300003     1.747500
300005  1010.987778
300010  1245.443333
300013  1143.983889
300015  1437.586944
300017  1418.733611
300018  1215.597500
300020   874.971389
300022  1208.480556
300023  1402.470000
300024     6.358056
32       126.152500
33      1369.038333
35      1419.746667
38      1439.245833
39      1457.390833
40      1093.197222
41      1242.831111
42      1442.118056
46      1325.846667
5        848.814444
50      1376.126667
51       378.705556
52      1393.234167
53      1170.034167
54      1027.132778
55      1197.548611
58       499.221944
59      1411.996111
6       1423.611944
62      1192.281667
63         6.385556
64       559.201944
7       1218.817222
75      1248.890000
77      1373.411667
78      1438.917778
82      1361.284722
83      1336.164722
84       171.363056
88      1357.213056
89       753.550000
9       1454.270000
91      1305.111111
92      1450.887500
93      1447.912778
94      1213.480556
95      1451.095000
98      1426.310000

In [241]:
psdf.groupby('userId')['ts'].apply(get_hour_4)

0      1462.915556
1      1322.230833
2      1367.841667
3      1175.987500
4       621.314722
5      1061.227222
6       698.561111
7      1289.887222
8      1368.633611
9         3.321111
10     1287.425556
11     1090.974167
12      224.965278
13     1348.019167
14     1272.388056
15      716.600000
16     1071.670833
17     1415.385000
18     1337.142222
19     1140.391667
20      460.968611
21     1429.645556
22      353.128333
23      390.231389
24     1445.964444
25     1434.368889
26        0.374167
27     1407.880556
28     1303.633889
29      496.096111
30     1444.518056
31     1448.823611
32     1194.276389
33      345.748056
34     1249.442500
35      761.023056
36      619.868056
37        0.116667
38      256.156944
39     1380.511667
40     1091.923333
41      732.434167
42       66.387778
43     1013.257778
44      651.343889
45      837.647222
46     1308.288889
47     1039.702222
48      650.835833
49     1283.128333
50      699.225278
51     1040.416389
52        7.733889
53     1397.551944
54     1400.086389
55     1442.199444
56     1279.126111
57      969.628333
58     1249.875556
59     1285.178056
60     1428.603333
61     1384.172222
62      998.025833
63     1351.507500
64     1305.353056
65     1455.249444
66      711.007500
67      637.944722
68     1397.440000
69     1033.451389
70     1378.911667
71     1229.015556
72      814.407500
73     1091.814444
74     1383.966111
75     1409.496944
76     1335.032500
77     1138.725278
78     1066.313611
79     1223.675556
80     1054.244722
81      735.379722
82        5.571944
83      516.709167
84     1434.793889
85     1105.388056
86      869.811667
87     1222.066389
88     1360.336667
89     1447.240833
90     1416.392778
91     1354.363611
92      465.033611
93     1125.773333
94     1395.733056
95     1308.013889
96     1305.117500
97     1018.491111
98     1415.190833
99       33.805833
100      48.433611
101     434.669444
102       1.557222
103    1396.251667
104       0.739722
105     744.930556
106     989.864722
107      36.946389
108    1017.347222
109       1.420833
110     528.259722
111     380.675556
112     747.658611
113     240.145278
114     934.251111
115     967.583056
116    1277.798056
117    1365.088611
118    1439.083333
119    1225.040000
120    1376.747222
121     544.900556
122    1354.535278
123    1344.628611
124     680.294722
125    1439.926667
126       0.492778
127    1354.389444
128    1345.899444
129     346.820278
130    1427.950000
131    1211.937778
132       2.897778
133    1201.429444
134    1345.841944
135    1193.221389
136    1113.937778
137    1453.948889
138     329.783056
139    1280.988611
140    1372.086111
141    1328.921944
142    1314.556389
143       9.100278
144     521.282500
145     599.675000
146    1369.506944
147     123.353611
148      15.081111
149    1073.669167
150     340.535000
151    1334.548889
152    1320.491111
153     620.493889
154    1360.824722
155     731.555000
156    1372.386944
157    1227.118889
158     702.736389
159    1403.073611
160     888.043056
161     832.660833
162    1140.170833
163    1130.289722
164     708.992778
165    1450.966389
166     463.570556
167     969.606111
168     807.969722
169     353.573611
170     536.086667
171    1377.530000
172    1401.724722
173    1071.756389
174     857.253056
175    1463.945278
176    1307.743056
177       1.747500
178    1010.987778
179    1245.443333
180    1143.983889
181    1437.586944
182    1418.733611
183    1215.597500
184     874.971389
185    1208.480556
186    1402.470000
187       6.358056
188     126.152500
189    1369.038333
190    1419.746667
191    1439.245833
192    1457.390833
193    1093.197222
194    1242.831111
195    1442.118056
196    1325.846667
197     848.814444
198    1376.126667
199     378.705556
200    1393.234167
201    1170.034167
202    1027.132778
203    1197.548611
204     499.221944
205    1411.996111
206    1423.611944
207    1192.281667
208       6.385556
209     559.201944
210    1218.817222
211    1248.890000
212    1373.411667
213    1438.917778
214    1361.284722
215    1336.164722
216     171.363056
217    1357.213056
218     753.550000
219    1454.270000
220    1305.111111
221    1450.887500
222    1447.912778
223    1213.480556
224    1451.095000
225    1426.310000
Name: ts, dtype: float64

In [240]:
psdf.groupby('userId')['ts'].apply(get_hour_3)

TypeError: Type <built-in function any> was not understood.

In [260]:
psdf.columns

Index(['ts', 'userId', 'sessionId', 'page', 'method', 'status', 'level',
       'location', 'userAgent', 'gender', 'ts_plus_1'],
      dtype='object')

In [261]:
psdf.groupby('userId').agg({'ts':'get_hour_4_', 'userAgent': 'max'})

AnalysisException: [MISSING_AGGREGATION] The non-aggregating expression "ts" is based on columns which are not participating in the GROUP BY clause.
Add the columns or the expression to the GROUP BY, aggregate the expression, or use "any_value(ts)" if you do not care which of the values within a group is returned.;
Aggregate [__index_level_0__#70705], [__index_level_0__#70705, get_hour_4_(ts#23L)#70732 AS ts#70706, max(userAgent#24) AS userAgent#70707]
+- Project [userId#25 AS __index_level_0__#70705, ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11, pudf(__index_level_0__#588L, ts#23L)#56760L AS ts_plus_1#56763L]
   +- Project [__index_level_0__#588L, ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11, monotonically_increasing_id() AS __natural_order__#600L]
      +- AttachDistributedSequence[__index_level_0__#588L, ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11] Index: __index_level_0__#588L
         +- RepartitionByExpression [userId#25], 2
            +- Project [ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11]
               +- Relation [artist#8,auth#9,firstName#10,gender#11,itemInSession#12L,lastName#13,length#14,level#15,location#16,method#17,page#18,registration#19L,sessionId#20L,song#21,status#22L,ts#23L,userAgent#24,userId#25] json

In [259]:
psdf.groupby('userId').agg({'ts':'get_hour_3_', 'userAgent': 'max'})

AnalysisException: [INVALID_PANDAS_UDF_PLACEMENT] The group aggregate pandas UDF `get_hour_3_` cannot be invoked together with as other, non-pandas aggregate functions.

AnalysisException: [INVALID_PANDAS_UDF_PLACEMENT] The group aggregate pandas UDF `get_hour_3_` cannot be invoked together with as other, non-pandas aggregate functions.

In [238]:
psdf.groupby('userId').agg({'ts':'get_hour_3_'})

                 ts
userId
        1462.915527
100002  1322.230835
100004  1367.841675
100008  1175.987549
100009   621.314697
100010  1061.227173
100012   698.561096
100015  1289.887207
100016  1368.633667
100017     3.321111
100018  1287.425537
100021  1090.974121
100023   224.965271
102     1348.019165
104     1272.388062
106      716.599976
107     1071.670776
110     1415.385010
111     1337.142212
119     1140.391724
12       460.968597
120     1429.645508
121      353.128326
122      390.231384
126     1445.964478
131     1434.368896
135        0.374167
136     1407.880615
137     1303.633911
139      496.096100
140     1444.518066
146     1448.823608
147     1194.276367
149      345.748047
150     1249.442505
152      761.023071
155      619.868042
156        0.116667
17       256.156952
20      1380.511719
200002  1091.923340
200011   732.434143
200012    66.387779
200017  1013.257751
200018   651.343872
200022   837.647217
27      1308.288940
29      1039.702271
3        650.835815
300001  1283.128296
300004   699.225281
300006  1040.416382
300007     7.733889
300008  1397.552002
300009  1400.086426
300011  1442.199463
300012  1279.126099
300014   969.628357
300016  1249.875610
300019  1285.178101
300021  1428.603394
300025  1384.172241
34       998.025818
36      1351.507446
37      1305.353027
4       1455.249390
43       711.007507
44       637.944702
45      1397.439941
47      1033.451416
49      1378.911621
56      1229.015503
57       814.407471
60      1091.814453
61      1383.966064
65      1409.496948
66      1335.032471
67      1138.725220
68      1066.313599
69      1223.675537
70      1054.244751
71       735.379700
72         5.571944
73       516.709167
74      1434.793945
76      1105.388062
79       869.811646
8       1222.066406
80      1360.336670
81      1447.240845
85      1416.392822
86      1354.363647
87       465.033600
90      1125.773315
96      1395.733032
97      1308.013916
99      1305.117554
10      1018.491089
100     1415.190796
100001    33.805832
100003    48.433613
100005   434.669434
100006     1.557222
100007  1396.251709
100011     0.739722
100013   744.930542
100014   989.864746
100019    36.946388
100022  1017.347229
100024     1.420833
100025   528.259705
101      380.675568
103      747.658630
105      240.145279
108      934.251099
109      967.583069
11      1277.798096
112     1365.088623
113     1439.083374
114     1225.040039
115     1376.747192
116      544.900574
117     1354.535278
118     1344.628662
123      680.294739
124     1439.926636
125        0.492778
127     1354.389404
128     1345.899414
129      346.820282
13      1427.949951
132     1211.937744
133        2.897778
134     1201.429443
138     1345.841919
14      1193.221436
141     1113.937744
142     1453.948853
143      329.783051
144     1280.988647
145     1372.086060
148     1328.921997
15      1314.556396
151        9.100278
153      521.282471
154      599.674988
16      1369.506958
18       123.353615
19        15.081111
2       1073.669189
200001   340.535004
200003  1334.548828
200004  1320.491089
200005   620.493896
200006  1360.824707
200007   731.554993
200008  1372.386963
200009  1227.118896
200010   702.736389
200014  1403.073608
200015   888.043030
200016   832.660828
200019  1140.170776
200020  1130.289673
200021   708.992798
200023  1450.966431
200024   463.570557
200025   969.606140
21       807.969727
22       353.573608
23       536.086670
24      1377.530029
25      1401.724731
26      1071.756348
28       857.253052
30      1463.945312
300002  1307.743042
300003     1.747500
300005  1010.987793
300010  1245.443359
300013  1143.983887
300015  1437.586914
300017  1418.733643
300018  1215.597534
300020   874.971375
300022  1208.480591
300023  1402.469971
300024     6.358056
32       126.152496
33      1369.038330
35      1419.746704
38      1439.245850
39      1457.390869
40      1093.197266
41      1242.831055
42      1442.118042
46      1325.846680
5        848.814453
50      1376.126709
51       378.705566
52      1393.234131
53      1170.034180
54      1027.132812
55      1197.548584
58       499.221954
59      1411.996094
6       1423.611938
62      1192.281616
63         6.385556
64       559.201965
7       1218.817261
75      1248.890015
77      1373.411621
78      1438.917725
82      1361.284668
83      1336.164673
84       171.363052
88      1357.213013
89       753.549988
9       1454.270020
91      1305.111084
92      1450.887451
93      1447.912720
94      1213.480591
95      1451.094971
98      1426.310059

In [239]:
psdf.groupby('userId').agg({'ts':'get_hour_2_'})

AnalysisException: [MISSING_AGGREGATION] The non-aggregating expression "ts" is based on columns which are not participating in the GROUP BY clause.
Add the columns or the expression to the GROUP BY, aggregate the expression, or use "any_value(ts)" if you do not care which of the values within a group is returned.;
Aggregate [__index_level_0__#67789], [__index_level_0__#67789, get_hour_2_(ts#23L)#67815 AS ts#67790]
+- Project [userId#25 AS __index_level_0__#67789, ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11, pudf(__index_level_0__#588L, ts#23L)#56760L AS ts_plus_1#56763L]
   +- Project [__index_level_0__#588L, ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11, monotonically_increasing_id() AS __natural_order__#600L]
      +- AttachDistributedSequence[__index_level_0__#588L, ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11] Index: __index_level_0__#588L
         +- RepartitionByExpression [userId#25], 2
            +- Project [ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11]
               +- Relation [artist#8,auth#9,firstName#10,gender#11,itemInSession#12L,lastName#13,length#14,level#15,location#16,method#17,page#18,registration#19L,sessionId#20L,song#21,status#22L,ts#23L,userAgent#24,userId#25] json

In [219]:
psdf.groupby('userId').agg({'ts':'get_hour_3'})

AnalysisException: [UNRESOLVED_ROUTINE] Cannot resolve function `get_hour_3` on search path [`system`.`builtin`, `system`.`session`, `spark_catalog`.`default`].; line 1 pos 0

In [220]:
psdf.groupby('userId').agg({'ts':'get_hour_4'})

AnalysisException: [MISSING_AGGREGATION] The non-aggregating expression "ts" is based on columns which are not participating in the GROUP BY clause.
Add the columns or the expression to the GROUP BY, aggregate the expression, or use "any_value(ts)" if you do not care which of the values within a group is returned.;
Aggregate [__index_level_0__#66538], [__index_level_0__#66538, get_hour_4(ts#23L)#66564 AS ts#66539]
+- Project [userId#25 AS __index_level_0__#66538, ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11, pudf(__index_level_0__#588L, ts#23L)#56760L AS ts_plus_1#56763L]
   +- Project [__index_level_0__#588L, ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11, monotonically_increasing_id() AS __natural_order__#600L]
      +- AttachDistributedSequence[__index_level_0__#588L, ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11] Index: __index_level_0__#588L
         +- RepartitionByExpression [userId#25], 2
            +- Project [ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11]
               +- Relation [artist#8,auth#9,firstName#10,gender#11,itemInSession#12L,lastName#13,length#14,level#15,location#16,method#17,page#18,registration#19L,sessionId#20L,song#21,status#22L,ts#23L,userAgent#24,userId#25] json

In [223]:
psdf.groupby('userId')['ts'].apply(get_hour_4)

0      1462.915556
1      1322.230833
2      1367.841667
3      1175.987500
4       621.314722
5      1061.227222
6       698.561111
7      1289.887222
8      1368.633611
9         3.321111
10     1287.425556
11     1090.974167
12      224.965278
13     1348.019167
14     1272.388056
15      716.600000
16     1071.670833
17     1415.385000
18     1337.142222
19     1140.391667
20      460.968611
21     1429.645556
22      353.128333
23      390.231389
24     1445.964444
25     1434.368889
26        0.374167
27     1407.880556
28     1303.633889
29      496.096111
30     1444.518056
31     1448.823611
32     1194.276389
33      345.748056
34     1249.442500
35      761.023056
36      619.868056
37        0.116667
38      256.156944
39     1380.511667
40     1091.923333
41      732.434167
42       66.387778
43     1013.257778
44      651.343889
45      837.647222
46     1308.288889
47     1039.702222
48      650.835833
49     1283.128333
50      699.225278
51     1040.416389
52        7.733889
53     1397.551944
54     1400.086389
55     1442.199444
56     1279.126111
57      969.628333
58     1249.875556
59     1285.178056
60     1428.603333
61     1384.172222
62      998.025833
63     1351.507500
64     1305.353056
65     1455.249444
66      711.007500
67      637.944722
68     1397.440000
69     1033.451389
70     1378.911667
71     1229.015556
72      814.407500
73     1091.814444
74     1383.966111
75     1409.496944
76     1335.032500
77     1138.725278
78     1066.313611
79     1223.675556
80     1054.244722
81      735.379722
82        5.571944
83      516.709167
84     1434.793889
85     1105.388056
86      869.811667
87     1222.066389
88     1360.336667
89     1447.240833
90     1416.392778
91     1354.363611
92      465.033611
93     1125.773333
94     1395.733056
95     1308.013889
96     1305.117500
97     1018.491111
98     1415.190833
99       33.805833
100      48.433611
101     434.669444
102       1.557222
103    1396.251667
104       0.739722
105     744.930556
106     989.864722
107      36.946389
108    1017.347222
109       1.420833
110     528.259722
111     380.675556
112     747.658611
113     240.145278
114     934.251111
115     967.583056
116    1277.798056
117    1365.088611
118    1439.083333
119    1225.040000
120    1376.747222
121     544.900556
122    1354.535278
123    1344.628611
124     680.294722
125    1439.926667
126       0.492778
127    1354.389444
128    1345.899444
129     346.820278
130    1427.950000
131    1211.937778
132       2.897778
133    1201.429444
134    1345.841944
135    1193.221389
136    1113.937778
137    1453.948889
138     329.783056
139    1280.988611
140    1372.086111
141    1328.921944
142    1314.556389
143       9.100278
144     521.282500
145     599.675000
146    1369.506944
147     123.353611
148      15.081111
149    1073.669167
150     340.535000
151    1334.548889
152    1320.491111
153     620.493889
154    1360.824722
155     731.555000
156    1372.386944
157    1227.118889
158     702.736389
159    1403.073611
160     888.043056
161     832.660833
162    1140.170833
163    1130.289722
164     708.992778
165    1450.966389
166     463.570556
167     969.606111
168     807.969722
169     353.573611
170     536.086667
171    1377.530000
172    1401.724722
173    1071.756389
174     857.253056
175    1463.945278
176    1307.743056
177       1.747500
178    1010.987778
179    1245.443333
180    1143.983889
181    1437.586944
182    1418.733611
183    1215.597500
184     874.971389
185    1208.480556
186    1402.470000
187       6.358056
188     126.152500
189    1369.038333
190    1419.746667
191    1439.245833
192    1457.390833
193    1093.197222
194    1242.831111
195    1442.118056
196    1325.846667
197     848.814444
198    1376.126667
199     378.705556
200    1393.234167
201    1170.034167
202    1027.132778
203    1197.548611
204     499.221944
205    1411.996111
206    1423.611944
207    1192.281667
208       6.385556
209     559.201944
210    1218.817222
211    1248.890000
212    1373.411667
213    1438.917778
214    1361.284722
215    1336.164722
216     171.363056
217    1357.213056
218     753.550000
219    1454.270000
220    1305.111111
221    1450.887500
222    1447.912778
223    1213.480556
224    1451.095000
225    1426.310000
Name: ts, dtype: float64

In [231]:
psdf.groupby('userId').agg({'ts':'get_hour_4_'})

AnalysisException: [MISSING_AGGREGATION] The non-aggregating expression "ts" is based on columns which are not participating in the GROUP BY clause.
Add the columns or the expression to the GROUP BY, aggregate the expression, or use "any_value(ts)" if you do not care which of the values within a group is returned.;
Aggregate [__index_level_0__#67136], [__index_level_0__#67136, get_hour_4_(ts#23L)#67162 AS ts#67137]
+- Project [userId#25 AS __index_level_0__#67136, ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11, pudf(__index_level_0__#588L, ts#23L)#56760L AS ts_plus_1#56763L]
   +- Project [__index_level_0__#588L, ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11, monotonically_increasing_id() AS __natural_order__#600L]
      +- AttachDistributedSequence[__index_level_0__#588L, ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11] Index: __index_level_0__#588L
         +- RepartitionByExpression [userId#25], 2
            +- Project [ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11]
               +- Relation [artist#8,auth#9,firstName#10,gender#11,itemInSession#12L,lastName#13,length#14,level#15,location#16,method#17,page#18,registration#19L,sessionId#20L,song#21,status#22L,ts#23L,userAgent#24,userId#25] json

In [227]:
psdf.groupby('userId').agg(hour=ps.NamedAgg(column='ts', aggfunc='get_hour_4_'))

AnalysisException: [MISSING_AGGREGATION] The non-aggregating expression "ts" is based on columns which are not participating in the GROUP BY clause.
Add the columns or the expression to the GROUP BY, aggregate the expression, or use "any_value(ts)" if you do not care which of the values within a group is returned.;
Aggregate [__index_level_0__#66801], [__index_level_0__#66801, get_hour_4_(ts#23L)#66827 AS (ts, get_hour_4_)#66802]
+- Project [userId#25 AS __index_level_0__#66801, ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11, pudf(__index_level_0__#588L, ts#23L)#56760L AS ts_plus_1#56763L]
   +- Project [__index_level_0__#588L, ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11, monotonically_increasing_id() AS __natural_order__#600L]
      +- AttachDistributedSequence[__index_level_0__#588L, ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11] Index: __index_level_0__#588L
         +- RepartitionByExpression [userId#25], 2
            +- Project [ts#23L, userId#25, sessionId#20L, page#18, method#17, status#22L, level#15, location#16, userAgent#24, gender#11]
               +- Relation [artist#8,auth#9,firstName#10,gender#11,itemInSession#12L,lastName#13,length#14,level#15,location#16,method#17,page#18,registration#19L,sessionId#20L,song#21,status#22L,ts#23L,userAgent#24,userId#25] json

### I think I am giving up on pandas_api, too many unexpected results. Using the spark.sql functions seems the way to go.

In [272]:
df.select(count_distinct('userId')).collect()

[Row(count(DISTINCT userId)=226)]

In [274]:
df.groupby('userId').agg(count('*')).collect()

[Row(userId='74', count(1)=2887),
 Row(userId='', count(1)=8346),
 Row(userId='4', count(1)=2442),
 Row(userId='45', count(1)=1776),
 Row(userId='87', count(1)=1003),
 Row(userId='131', count(1)=1863),
 Row(userId='126', count(1)=3102),
 Row(userId='146', count(1)=837),
 Row(userId='36', count(1)=1399),
 Row(userId='120', count(1)=1842),
 Row(userId='27', count(1)=291),
 Row(userId='140', count(1)=6880),
 Row(userId='81', count(1)=2335),
 Row(userId='137', count(1)=209),
 Row(userId='65', count(1)=2544),
 Row(userId='29', count(1)=3603),
 Row(userId='70', count(1)=1775),
 Row(userId='61', count(1)=1976),
 Row(userId='136', count(1)=2567),
 Row(userId='80', count(1)=474),
 Row(userId='110', count(1)=235),
 Row(userId='121', count(1)=916),
 Row(userId='85', count(1)=4370),
 Row(userId='96', count(1)=2176),
 Row(userId='20', count(1)=2195),
 Row(userId='3', count(1)=254),
 Row(userId='12', count(1)=1064),
 Row(userId='73', count(1)=457),
 Row(userId='17', count(1)=1102),
 Row(userId='86', count(1)=818),
 Row(userId='67', count(1)=1322),
 Row(userId='106', count(1)=1010),
 Row(userId='69', count(1)=1342),
 Row(userId='99', count(1)=614),
 Row(userId='49', count(1)=1091),
 Row(userId='102', count(1)=202),
 Row(userId='122', count(1)=62),
 Row(userId='135', count(1)=6),
 Row(userId='111', count(1)=830),
 Row(userId='66', count(1)=1288),
 Row(userId='44', count(1)=512),
 Row(userId='37', count(1)=1682),
 Row(userId='90', count(1)=45),
 Row(userId='104', count(1)=2132),
 Row(userId='107', count(1)=315),
 Row(userId='97', count(1)=2404),
 Row(userId='76', count(1)=272),
 Row(userId='119', count(1)=223),
 Row(userId='150', count(1)=234),
 Row(userId='68', count(1)=48),
 Row(userId='147', count(1)=672),
 Row(userId='8', count(1)=334),
 Row(userId='56', count(1)=955),
 Row(userId='34', count(1)=73),
 Row(userId='60', count(1)=1950),
 Row(userId='47', count(1)=251),
 Row(userId='43', count(1)=240),
 Row(userId='57', count(1)=112),
 Row(userId='149', count(1)=240),
 Row(userId='71', count(1)=329),
 Row(userId='79', count(1)=321),
 Row(userId='152', count(1)=1682),
 Row(userId='139', count(1)=457),
 Row(userId='155', count(1)=1002),
 Row(userId='72', count(1)=117),
 Row(userId='156', count(1)=6),
 Row(userId='100009', count(1)=671),
 Row(userId='100016', count(1)=638),
 Row(userId='100015', count(1)=1050),
 Row(userId='100004', count(1)=1245),
 Row(userId='100012', count(1)=600),
 Row(userId='100023', count(1)=494),
 Row(userId='100018', count(1)=1288),
 Row(userId='100010', count(1)=381),
 Row(userId='100002', count(1)=218),
 Row(userId='100008', count(1)=940),
 Row(userId='100021', count(1)=319),
 Row(userId='100017', count(1)=75),
 Row(userId='200002', count(1)=474),
 Row(userId='200022', count(1)=456),
 Row(userId='200011', count(1)=848),
 Row(userId='200017', count(1)=620),
 Row(userId='200018', count(1)=478),
 Row(userId='200012', count(1)=84),
 Row(userId='300001', count(1)=2168),
 Row(userId='300011', count(1)=5732),
 Row(userId='300008', count(1)=1672),
 Row(userId='300021', count(1)=4659),
 Row(userId='300009', count(1)=1721),
 Row(userId='300025', count(1)=1603),
 Row(userId='300012', count(1)=786),
 Row(userId='300007', count(1)=143),
 Row(userId='300014', count(1)=361),
 Row(userId='300016', count(1)=735),
 Row(userId='300019', count(1)=976),
 Row(userId='300006', count(1)=379),
 Row(userId='300004', count(1)=262),
 Row(userId='30', count(1)=1775),
 Row(userId='9', count(1)=3191),
 Row(userId='54', count(1)=3437),
 Row(userId='101', count(1)=2149),
 Row(userId='78', count(1)=324),
 Row(userId='88', count(1)=2465),
 Row(userId='95', count(1)=2091),
 Row(userId='25', count(1)=2279),
 Row(userId='142', count(1)=2240),
 Row(userId='13', count(1)=1654),
 Row(userId='39', count(1)=9632),
 Row(userId='28', count(1)=1781),
 Row(userId='59', count(1)=872),
 Row(userId='15', count(1)=2278),
 Row(userId='92', count(1)=7230),
 Row(userId='33', count(1)=1529),
 Row(userId='51', count(1)=2464),
 Row(userId='143', count(1)=149),
 Row(userId='6', count(1)=3761),
 Row(userId='124', count(1)=4825),
 Row(userId='141', count(1)=1102),
 Row(userId='93', count(1)=815),
 Row(userId='40', count(1)=1322),
 Row(userId='94', count(1)=187),
 Row(userId='113', count(1)=1895),
 Row(userId='98', count(1)=2891),
 Row(userId='53', count(1)=2064),
 Row(userId='42', count(1)=4257),
 Row(userId='115', count(1)=2076),
 Row(userId='38', count(1)=1570),
 Row(userId='58', count(1)=2027),
 Row(userId='77', count(1)=1229),
 Row(userId='52', count(1)=1363),
 Row(userId='46', count(1)=1120),
 Row(userId='35', count(1)=2005),
 Row(userId='132', count(1)=2304),
 Row(userId='127', count(1)=2125),
 Row(userId='129', count(1)=412),
 Row(userId='82', count(1)=2049),
 Row(userId='100', count(1)=3214),
 Row(userId='117', count(1)=445),
 Row(userId='18', count(1)=513),
 Row(userId='118', count(1)=2868),
 Row(userId='105', count(1)=918),
 Row(userId='55', count(1)=489),
 Row(userId='41', count(1)=2220),
 Row(userId='7', count(1)=201),
 Row(userId='32', count(1)=108),
 Row(userId='5', count(1)=218),
 Row(userId='114', count(1)=1547),
 Row(userId='16', count(1)=819),
 Row(userId='50', count(1)=651),
 Row(userId='24', count(1)=630),
 Row(userId='103', count(1)=1310),
 Row(userId='75', count(1)=957),
 Row(userId='128', count(1)=2067),
 Row(userId='112', count(1)=292),
 Row(userId='145', count(1)=1347),
 Row(userId='83', count(1)=1496),
 Row(userId='11', count(1)=848),
 Row(userId='91', count(1)=3014),
 Row(userId='138', count(1)=2469),
 Row(userId='148', count(1)=518),
 Row(userId='109', count(1)=861),
 Row(userId='134', count(1)=52),
 Row(userId='10', count(1)=795),
 Row(userId='2', count(1)=899),
 Row(userId='144', count(1)=125),
 Row(userId='89', count(1)=801),
 Row(userId='14', count(1)=1432),
 Row(userId='62', count(1)=1883),
 Row(userId='19', count(1)=259),
 Row(userId='125', count(1)=11),
 Row(userId='133', count(1)=44),
 Row(userId='26', count(1)=337),
 Row(userId='64', count(1)=68),
 Row(userId='21', count(1)=589),
 Row(userId='108', count(1)=764),
 Row(userId='123', count(1)=196),
 Row(userId='116', count(1)=79),
 Row(userId='63', count(1)=107),
 Row(userId='23', count(1)=782),
 Row(userId='154', count(1)=118),
 Row(userId='151', count(1)=163),
 Row(userId='153', count(1)=1131),
 Row(userId='22', count(1)=40),
 Row(userId='84', count(1)=97),
 Row(userId='100022', count(1)=964),
 Row(userId='100001', count(1)=187),
 Row(userId='100025', count(1)=623),
 Row(userId='100005', count(1)=216),
 Row(userId='100011', count(1)=23),
 Row(userId='100007', count(1)=520),
 Row(userId='100013', count(1)=1392),
 Row(userId='100024', count(1)=36),
 Row(userId='100006', count(1)=44),
 Row(userId='100019', count(1)=89),
 Row(userId='100003', count(1)=78),
 Row(userId='100014', count(1)=310),
 Row(userId='200014', count(1)=982),
 Row(userId='200019', count(1)=639),
 Row(userId='200023', count(1)=3769),
 Row(userId='200001', count(1)=158),
 Row(userId='200020', count(1)=1498),
 Row(userId='200006', count(1)=740),
 Row(userId='200010', count(1)=317),
 Row(userId='200015', count(1)=349),
 Row(userId='200004', count(1)=2130),
 Row(userId='200021', count(1)=1502),
 Row(userId='200008', count(1)=2012),
 Row(userId='200024', count(1)=552),
 Row(userId='200003', count(1)=977),
 Row(userId='200009', count(1)=1198),
 Row(userId='200025', count(1)=1026),
 Row(userId='200016', count(1)=268),
 Row(userId='200007', count(1)=76),
 Row(userId='200005', count(1)=174),
 Row(userId='300017', count(1)=4428),
 Row(userId='300015', count(1)=3051),
 Row(userId='300023', count(1)=2210),
 Row(userId='300002', count(1)=1961),
 Row(userId='300005', count(1)=394),
 Row(userId='300010', count(1)=351),
 Row(userId='300020', count(1)=296),
 Row(userId='300022', count(1)=446),
 Row(userId='300013', count(1)=411),
 Row(userId='300018', count(1)=2046),
 Row(userId='300003', count(1)=35),
 Row(userId='300024', count(1)=102)]

In [269]:
df.groupby(['userId','sessionId']).agg({'*':'count'}).groupby('userId').agg({'count(1)':'mean'}).collect()

[Row(userId='74', avg(count(1))=125.52173913043478),
 Row(userId='', avg(count(1))=5.123388581952118),
 Row(userId='4', avg(count(1))=111.0),
 Row(userId='45', avg(count(1))=111.0),
 Row(userId='87', avg(count(1))=40.12),
 Row(userId='131', avg(count(1))=98.05263157894737),
 Row(userId='126', avg(count(1))=103.4),
 Row(userId='146', avg(count(1))=49.23529411764706),
 Row(userId='36', avg(count(1))=69.95),
 Row(userId='120', avg(count(1))=131.57142857142858),
 Row(userId='27', avg(count(1))=32.333333333333336),
 Row(userId='140', avg(count(1))=96.90140845070422),
 Row(userId='81', avg(count(1))=122.89473684210526),
 Row(userId='137', avg(count(1))=69.66666666666667),
 Row(userId='65', avg(count(1))=110.6086956521739),
 Row(userId='29', avg(count(1))=105.97058823529412),
 Row(userId='70', avg(count(1))=98.61111111111111),
 Row(userId='61', avg(count(1))=104.0),
 Row(userId='136', avg(count(1))=116.68181818181819),
 Row(userId='80', avg(count(1))=39.5),
 Row(userId='110', avg(count(1))=47.0),
 Row(userId='121', avg(count(1))=70.46153846153847),
 Row(userId='85', avg(count(1))=106.58536585365853),
 Row(userId='96', avg(count(1))=114.52631578947368),
 Row(userId='20', avg(count(1))=115.52631578947368),
 Row(userId='3', avg(count(1))=63.5),
 Row(userId='12', avg(count(1))=118.22222222222223),
 Row(userId='73', avg(count(1))=76.16666666666667),
 Row(userId='17', avg(count(1))=157.42857142857142),
 Row(userId='86', avg(count(1))=81.8),
 Row(userId='67', avg(count(1))=101.6923076923077),
 Row(userId='106', avg(count(1))=84.16666666666667),
 Row(userId='69', avg(count(1))=149.11111111111111),
 Row(userId='99', avg(count(1))=55.81818181818182),
 Row(userId='49', avg(count(1))=109.1),
 Row(userId='102', avg(count(1))=25.25),
 Row(userId='122', avg(count(1))=15.5),
 Row(userId='135', avg(count(1))=6.0),
 Row(userId='111', avg(count(1))=118.57142857142857),
 Row(userId='66', avg(count(1))=61.333333333333336),
 Row(userId='44', avg(count(1))=170.66666666666666),
 Row(userId='37', avg(count(1))=112.13333333333334),
 Row(userId='90', avg(count(1))=9.0),
 Row(userId='104', avg(count(1))=82.0),
 Row(userId='107', avg(count(1))=78.75),
 Row(userId='97', avg(count(1))=80.13333333333334),
 Row(userId='76', avg(count(1))=45.333333333333336),
 Row(userId='119', avg(count(1))=37.166666666666664),
 Row(userId='150', avg(count(1))=26.0),
 Row(userId='68', avg(count(1))=24.0),
 Row(userId='147', avg(count(1))=67.2),
 Row(userId='8', avg(count(1))=47.714285714285715),
 Row(userId='56', avg(count(1))=45.476190476190474),
 Row(userId='34', avg(count(1))=24.333333333333332),
 Row(userId='60', avg(count(1))=108.33333333333333),
 Row(userId='47', avg(count(1))=27.88888888888889),
 Row(userId='43', avg(count(1))=60.0),
 Row(userId='57', avg(count(1))=56.0),
 Row(userId='149', avg(count(1))=80.0),
 Row(userId='71', avg(count(1))=82.25),
 Row(userId='79', avg(count(1))=64.2),
 Row(userId='152', avg(count(1))=84.1),
 Row(userId='139', avg(count(1))=114.25),
 Row(userId='155', avg(count(1))=167.0),
 Row(userId='72', avg(count(1))=117.0),
 Row(userId='156', avg(count(1))=6.0),
 Row(userId='100009', avg(count(1))=67.1),
 Row(userId='100016', avg(count(1))=79.75),
 Row(userId='100015', avg(count(1))=87.5),
 Row(userId='100004', avg(count(1))=59.285714285714285),
 Row(userId='100012', avg(count(1))=85.71428571428571),
 Row(userId='100023', avg(count(1))=49.4),
 Row(userId='100018', avg(count(1))=61.333333333333336),
 Row(userId='100010', avg(count(1))=54.42857142857143),
 Row(userId='100002', avg(count(1))=54.5),
 Row(userId='100008', avg(count(1))=156.66666666666666),
 Row(userId='100021', avg(count(1))=63.8),
 Row(userId='100017', avg(count(1))=75.0),
 Row(userId='200002', avg(count(1))=79.0),
 Row(userId='200022', avg(count(1))=57.0),
 Row(userId='200011', avg(count(1))=77.0909090909091),
 Row(userId='200017', avg(count(1))=51.666666666666664),
 Row(userId='200018', avg(count(1))=53.111111111111114),
 Row(userId='200012', avg(count(1))=42.0),
 Row(userId='300001', avg(count(1))=114.10526315789474),
 Row(userId='300011', avg(count(1))=75.42105263157895),
 Row(userId='300008', avg(count(1))=92.88888888888889),
 Row(userId='300021', avg(count(1))=80.32758620689656),
 Row(userId='300009', avg(count(1))=95.61111111111111),
 Row(userId='300025', avg(count(1))=100.1875),
 Row(userId='300012', avg(count(1))=112.28571428571429),
 Row(userId='300007', avg(count(1))=143.0),
 Row(userId='300014', avg(count(1))=51.57142857142857),
 Row(userId='300016', avg(count(1))=56.53846153846154),
 Row(userId='300019', avg(count(1))=108.44444444444444),
 Row(userId='300006', avg(count(1))=75.8),
 Row(userId='300004', avg(count(1))=87.33333333333333),
 Row(userId='30', avg(count(1))=55.46875),
 Row(userId='9', avg(count(1))=102.93548387096774),
 Row(userId='54', avg(count(1))=92.89189189189189),
 Row(userId='101', avg(count(1))=214.9),
 Row(userId='78', avg(count(1))=36.0),
 Row(userId='88', avg(count(1))=94.8076923076923),
 Row(userId='95', avg(count(1))=63.36363636363637),
 Row(userId='25', avg(count(1))=151.93333333333334),
 Row(userId='142', avg(count(1))=140.0),
 Row(userId='13', avg(count(1))=50.121212121212125),
 Row(userId='39', avg(count(1))=90.01869158878505),
 Row(userId='28', avg(count(1))=84.80952380952381),
 Row(userId='59', avg(count(1))=124.57142857142857),
 Row(userId='15', avg(count(1))=151.86666666666667),
 Row(userId='92', avg(count(1))=84.06976744186046),
 Row(userId='33', avg(count(1))=127.41666666666667),
 Row(userId='51', avg(count(1))=246.4),
 Row(userId='143', avg(count(1))=24.833333333333332),
 Row(userId='6', avg(count(1))=156.70833333333334),
 Row(userId='124', avg(count(1))=166.3793103448276),
 Row(userId='141', avg(count(1))=100.18181818181819),
 Row(userId='93', avg(count(1))=67.91666666666667),
 Row(userId='40', avg(count(1))=77.76470588235294),
 Row(userId='94', avg(count(1))=31.166666666666668),
 Row(userId='113', avg(count(1))=78.95833333333333),
 Row(userId='98', avg(count(1))=103.25),
 Row(userId='53', avg(count(1))=93.81818181818181),
 Row(userId='42', avg(count(1))=90.57446808510639),
 Row(userId='115', avg(count(1))=207.6),
 Row(userId='38', avg(count(1))=98.125),
 Row(userId='58', avg(count(1))=168.91666666666666),
 Row(userId='77', avg(count(1))=153.625),
 Row(userId='52', avg(count(1))=90.86666666666666),
 Row(userId='46', avg(count(1))=112.0),
 Row(userId='35', avg(count(1))=52.76315789473684),
 Row(userId='132', avg(count(1))=144.0),
 Row(userId='127', avg(count(1))=125.0),
 Row(userId='129', avg(count(1))=58.857142857142854),
 Row(userId='82', avg(count(1))=120.52941176470588),
 Row(userId='100', avg(count(1))=91.82857142857142),
 Row(userId='117', avg(count(1))=34.23076923076923),
 Row(userId='18', avg(count(1))=85.5),
 Row(userId='118', avg(count(1))=119.5),
 Row(userId='105', avg(count(1))=183.6),
 Row(userId='55', avg(count(1))=44.45454545454545),
 Row(userId='41', avg(count(1))=185.0),
 Row(userId='7', avg(count(1))=28.714285714285715),
 Row(userId='32', avg(count(1))=36.0),
 Row(userId='5', avg(count(1))=36.333333333333336),
 Row(userId='114', avg(count(1))=91.0),
 Row(userId='16', avg(count(1))=91.0),
 Row(userId='50', avg(count(1))=81.375),
 Row(userId='24', avg(count(1))=42.0),
 Row(userId='103', avg(count(1))=119.0909090909091),
 Row(userId='75', avg(count(1))=119.625),
 Row(userId='128', avg(count(1))=121.58823529411765),
 Row(userId='112', avg(count(1))=29.2),
 Row(userId='145', avg(count(1))=89.8),
 Row(userId='83', avg(count(1))=53.42857142857143),
 Row(userId='11', avg(count(1))=53.0),
 Row(userId='91', avg(count(1))=334.8888888888889),
 Row(userId='138', avg(count(1))=164.6),
 Row(userId='148', avg(count(1))=43.166666666666664),
 Row(userId='109', avg(count(1))=71.75),
 Row(userId='134', avg(count(1))=13.0),
 Row(userId='10', avg(count(1))=132.5),
 Row(userId='2', avg(count(1))=128.42857142857142),
 Row(userId='144', avg(count(1))=41.666666666666664),
 Row(userId='89', avg(count(1))=160.2),
 Row(userId='14', avg(count(1))=130.1818181818182),
 Row(userId='62', avg(count(1))=235.375),
 Row(userId='19', avg(count(1))=259.0),
 Row(userId='125', avg(count(1))=11.0),
 Row(userId='133', avg(count(1))=44.0),
 Row(userId='26', avg(count(1))=42.125),
 Row(userId='64', avg(count(1))=22.666666666666668),
 Row(userId='21', avg(count(1))=147.25),
 Row(userId='108', avg(count(1))=127.33333333333333),
 Row(userId='123', avg(count(1))=24.5),
 Row(userId='116', avg(count(1))=26.333333333333332),
 Row(userId='63', avg(count(1))=107.0),
 Row(userId='23', avg(count(1))=195.5),
 Row(userId='154', avg(count(1))=39.333333333333336),
 Row(userId='151', avg(count(1))=163.0),
 Row(userId='153', avg(count(1))=125.66666666666667),
 Row(userId='22', avg(count(1))=20.0),
 Row(userId='84', avg(count(1))=32.333333333333336),
 Row(userId='100022', avg(count(1))=48.2),
 Row(userId='100001', avg(count(1))=46.75),
 Row(userId='100025', avg(count(1))=89.0),
 Row(userId='100005', avg(count(1))=43.2),
 Row(userId='100011', avg(count(1))=23.0),
 Row(userId='100007', avg(count(1))=57.77777777777778),
 Row(userId='100013', avg(count(1))=99.42857142857143),
 Row(userId='100024', avg(count(1))=36.0),
 Row(userId='100006', avg(count(1))=44.0),
 Row(userId='100019', avg(count(1))=44.5),
 Row(userId='100003', avg(count(1))=39.0),
 Row(userId='100014', avg(count(1))=51.666666666666664),
 Row(userId='200014', avg(count(1))=98.2),
 Row(userId='200019', avg(count(1))=63.9),
 Row(userId='200023', avg(count(1))=49.5921052631579),
 Row(userId='200001', avg(count(1))=26.333333333333332),
 Row(userId='200020', avg(count(1))=41.611111111111114),
 Row(userId='200006', avg(count(1))=35.23809523809524),
 Row(userId='200010', avg(count(1))=52.833333333333336),
 Row(userId='200015', avg(count(1))=31.727272727272727),
 Row(userId='200004', avg(count(1))=76.07142857142857),
 Row(userId='200021', avg(count(1))=88.3529411764706),
 Row(userId='200008', avg(count(1))=134.13333333333333),
 Row(userId='200024', avg(count(1))=69.0),
 Row(userId='200003', avg(count(1))=69.78571428571429),
 Row(userId='200009', avg(count(1))=79.86666666666666),
 Row(userId='200025', avg(count(1))=73.28571428571429),
 Row(userId='200016', avg(count(1))=38.285714285714285),
 Row(userId='200007', avg(count(1))=25.333333333333332),
 Row(userId='200005', avg(count(1))=29.0),
 Row(userId='300017', avg(count(1))=70.28571428571429),
 Row(userId='300015', avg(count(1))=92.45454545454545),
 Row(userId='300023', avg(count(1))=81.85185185185185),
 Row(userId='300002', avg(count(1))=108.94444444444444),
 Row(userId='300005', avg(count(1))=65.66666666666667),
 Row(userId='300010', avg(count(1))=50.142857142857146),
 Row(userId='300020', avg(count(1))=98.66666666666667),
 Row(userId='300022', avg(count(1))=40.54545454545455),
 Row(userId='300013', avg(count(1))=68.5),
 Row(userId='300018', avg(count(1))=73.07142857142857),
 Row(userId='300003', avg(count(1))=35.0),
 Row(userId='300024', avg(count(1))=102.0)]

In [4]:
data = [
    ("James","CA",np.NaN), ("Julia","",None),
    ("Ram",None,200.0), ("Ramya","NULL",np.NAN)
]
df =spark.createDataFrame(data,["name","state","number"])

In [11]:
df.show()

+-----+-----+------+
| name|state|number|
+-----+-----+------+
|James|   CA|   NaN|
|Julia|     |  null|
|  Ram| null| 200.0|
|Ramya| NULL|   NaN|
+-----+-----+------+

In [7]:
df.select([count(c) for c in df.columns]).show()

+-----------+------------+-------------+
|count(name)|count(state)|count(number)|
+-----------+------------+-------------+
|          4|           3|            3|
+-----------+------------+-------------+

In [14]:
df.select(F.when(col('state').isNull(), 1)).show()

+------------------------------------+
|CASE WHEN (state IS NULL) THEN 1 END|
+------------------------------------+
|                                null|
|                                null|
|                                   1|
|                                null|
+------------------------------------+

In [18]:
df.select(F.isnan('number')).show()

+-------------+
|isnan(number)|
+-------------+
|         true|
|        false|
|        false|
|         true|
+-------------+

In [10]:
df.select([F.count(F.when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+----+-----+------+
|name|state|number|
+----+-----+------+
|   0|    1|     1|
+----+-----+------+